[2018-11-17 11:16] xiaoxiangmoe opened #1 "Question: How to config it in VSCode"
It seems don't work for me.

------

## Reproduce steps:

[code]

then open `src/App.tsx`, change code `import * as styles from './App.css';` to
[code]

then add code below in `images.d.ts`
[code]

then add code below in tsconfig.json

[code]

![image](https://user-images.githubusercontent.com/8111351/48660473-3719c180-ea9d-11e8-8dcb-a07577235f1a.png)

no type hint for me.

[2018-11-17 11:45] mrmckeb commented on #1
Hello @xiaoxiangmoe, good question. I am actually updating the docs this weekend because I found that issue too...

VSCode has its own TypeScript instance running - so you have two options:

1. You can add the plugin to your VSCode settings.
[code]

2. You can tell VSCode to run your workspace version of TypeScript.
https://code.visualstudio.com/docs/languages/typescript#_using-the-workspace-versi

[2018-11-17 12:15] xiaoxiangmoe commented on #1
@mrmckeb

[code]

It still don't work for me.

[2018-11-19 04:53] xiaoxiangmoe commented on #1
@mrmckeb Thank you, it works now. But it won't work in monorepo mode(yarn workspace).

[2018-11-19 05:37] xiaoxiangmoe opened #4 "Monorepo usage"
It won't work in monorepo mode(yarn workspace) if I run my workspace version of TypeScript.

Reproduce demo: https://github.com/xiaoxiangmoe/monorepo-error-typescript-plugin-css-modules

[2018-11-19 08:17] mrmckeb commented on #4
Thanks for reporting this @xiaoxiangmoe, and for the reproducible demo - that'll be very helpful.

I'll take a look tonight and try to resolve this.

[2018-11-19 20:18] #4 closed

[2018-11-20 17:19] fmal opened #7 "`customMatcher` support"
**Describe the bug**
I can't get the plugin to work when i specify `customMatcher` such as:
[code]

When i leave it off then everything works fine.

**To Reproduce**
Add `"customMatcher": "\\.css$"` and use a filename without the `.module` part (`justAFile.css`)

**Additional context**
I quickly browsed the source and noticed that `isRelativeCSS` helper actually uses the default `isCSS` predicate:

[2018-11-21 07:59] #7 closed

[2018-11-21 08:15] mrmckeb opened #10 "Add support for named exports"
**Is your feature request related to a problem? Please describe.**
As raised by @fmal, named exports aren't available at present.

**Describe the solution you'd like**
In theory, with the `camelCase` option, set to `"only"` (both in this plugin and CSS Loader), named exports could be created alongside or in place of the default export. This may need another option, such as `namedExports` (boolean)

[2018-11-21 08:16] mrmckeb commented on #7
Thanks again @fmal. This is now released.

On your other issue, I think we can discuss here: #10 ;)

[2018-11-21 22:28] Bnaya opened #11 "Question: why dose the extra declarations are needed?"
I'm just wondering why the
[code]

[2018-11-22 08:04] mrmckeb commented on #11
Good question :) You'll find that during build, they're needed. TypeScript currently doesn't use plugins during build... sadly.

If you'r finding that this is not the case, please let me know! Note that these are included in `create-react-app`/`react-scripts` already.

[2018-11-22 12:31] Bnaya commented on #11
So i guess, we can make maybe create real interfaces using the information inside the service?

[2018-11-22 13:01] mrmckeb commented on #11
So, the plugin creates the type information in real-time, but unfortunately Microsoft hasn't committed to any way to make this work in build. So you have the option to add `.d.ts` files... but that clutter in your folders seems less than ideal.

https://github.com/Microsoft/TypeScript/issues/16607

[2018-11-23 09:05] mrmckeb commented on #10
@fmal Would the above solution be good for your needs?

[2018-11-23 09:20] fmal commented on #10
@mrmckeb sure, your proposal of making this opt-in and effective only when `camelCase` is switched on, sounds like the best solution. Thanks for asking 😃

[2018-11-28 10:40] #11 closed

[2018-11-29 06:52] Aqours opened #12 "Add less file extension to default matcher"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Add less file extension(.less) to default matcher. I think less is as popular as sass/scss.
[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutio

[2018-11-29 08:15] mrmckeb commented on #12
@Aqours Is there a reason that the `customMatcher` isn't working for you? Support for using that in VSCode should come in the next release (very close now).

If it's something that people really want, we could look to add that - but as @xiaoxiangmoe said, this plugin is designed to align with `create-react-app` in terms of the default settings - but is definitely not only for CRA.

[2018-11-29 09:07] mrmckeb commented on #12
@Aqours I was just discussing this with a colleague. I'm open to this change - but want to be cautious.

I propose as an option, would it be OK to have something like this?
```"extendedMatchers": true```

Which might look like `"\\.module\\.(sa|sc|le|pc|c)ss$"` or even `"\\.(sa|sc|le|pc|c)ss$"`?

[2018-12-17 13:54] ChristianIvicevic opened #13 "TypeScript server is silently dying when having comments and/or commented variables in SCSS files"
**Describe the bug**
If any SCSS file happens to include comments that somehow have SCSS variables in them, your plugin will throw an exception and silently cripple the TypeScript server which seizes to work. It seems to attempt to parse the variables nonetheless.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a CRA2.1 app with node-sass installed
2. Add a `Foo.module.scss` file.
3.

[2018-12-18 09:12] mrmckeb commented on #13
Hi @ChristianIvicevic, thanks for the error report - and sorry for the issues you've had.

It looks to me that this is caused by the style of commenting. Whilst Sass supports single-line comments, they are not supported by CSS and I'm guessing they're not supported by the dependencies used here.

The quick fix might be to strip out those lines completely. If you'd like to take a look and raise a P

[2018-12-18 09:26] ChristianIvicevic commented on #13
@mrmckeb Unfortunately I have no experience writing plugins for TypeScript in the first place so I won't be able to contribute to a PR to fix this issue. At least I was able to track down the issue even though my IDE still favors the single line comments when using my hotkeys which is another topic.

[2018-12-18 09:36] mrmckeb commented on #13
Again, sorry for this issue - I'll try to get on it ASAP, but just don't have time today/tomorrow. Friday or the weekend I'll get it done ;)

[2018-12-18 09:41] ChristianIvicevic commented on #13
Don't worry since I'm not in any hurry - I am currently using your plugin in a small private test project and since I know the workaround for the time being I can work around the bug anyways.

[2018-12-19 22:42] ChristianIvicevic commented on #13
@mrmckeb Just a minor addition to the issue: it seems empty SCSS files cause the same issue occasionally.

[2018-12-24 11:10] mrmckeb commented on #13
This is still on my radar, I'm on leave from tomorrow (from my day job) so worst case, I'll get onto it this week on holidays ;)

It sounds like PostCSS plugins aren't handling this well, and I think this should be easy to reproduce with tests.

[2018-12-29 20:07] ChristianIvicevic opened #14 "Nested SCSS selectors"
**Is your feature request related to a problem? Please describe.**
Although the usage of CSS Modules in CRA apps makes scoping class names almost obsolete I was considering to use SCSS nesting in a particular case, but noticed that the plugin doesn't resolve those classes at all. A sample in BEM notation looks as follows:

    .container {
        width: 100vw;
        height: 100vh;

        &--h

[2019-01-04 14:03] mrmckeb commented on #14
Thanks for reporting this, I'll definitely be looking at this in the next release - I think there's an underlying issue with the util used to analyse the CSS file.

Sorry for the delay, I've been on holiday (it's that time of the year) and will be looking at this over the coming days ;)

[2019-01-06 13:00] mrmckeb commented on #13
Hi @ChristianIvicevic, I've solved this and will release today, once I've resolved #14. Thanks for your patience.

[2019-01-07 09:34] #13 closed

[2019-01-07 09:34] #14 closed

[2019-01-07 09:50] mrmckeb commented on #13
Resolved, thanks @ChristianIvicevic!

[2019-01-07 09:51] mrmckeb commented on #14
Resolved, thanks for your patience @ChristianIvicevic!

[2019-01-07 13:55] ifmos commented on #12
Thanks for this great plugin!  I think supporting less will be really nice and help more people

[2019-01-23 21:47] batusai513 opened #16 "Not working"
**Describe the bug**
I've created a brand new create-react-app with typescript and followed the instructions you kindly wrote, but as soon as I run `yarn start` I get the typing error:
[code]

`.vscode/settings.json`
[code]

`tsconfig.json`
[code]

OS: macOS mojave
VScode: 1.30.2
react-scripts: 2.1.3
typescript: 3.2.4
typescript-plugin-css-modules: 1.0.5

[2019-01-24 07:04] mrmckeb commented on #16
Thanks for this report @batusai513, can you please try the previous version?

I think it is an issue with this release - it seems to intermittently fail, I first noted it with a colleague yesterday. I'll investigate and resolve over the weekend.

[2019-01-24 19:08] batusai513 commented on #16
@mrmckeb I've tested until v1.0.0 and It is not working :(

[2019-01-24 19:15] mrmckeb commented on #16
Thank you for the update.

I apologise, it looks like I misread your issue. You said it occurs during `yarn start` only? In the IDE it's fine?

If so, can you share a link to your report? I can take a look))

[2019-01-24 19:16] batusai513 commented on #16
@mrmckeb not at all, it is throwing there too.
<img width="1438" alt="captura de pantalla 2019-01-24 a la s 8 15 43 p m" src="https://user-images.githubusercontent.com/996671/51702746-dff01a00-2014-11e9-9742-aa677cbe4007.png">

[2019-01-24 19:18] mrmckeb commented on #16
Can you share your repository with me? Even if it's privately shared? I can debug it tomorrow and come back with a solution.

[2019-01-24 19:23] batusai513 commented on #16
@mrmckeb already added you as a collaborator

[2019-02-01 09:46] mrmckeb commented on #16
Sorry @batusai513, I had a busy week and a half. I can look at this tonight or tomorrow.

[2019-02-02 10:07] batusai513 commented on #16
@dawnmist yes, I'm using `import * as styles`, I'll try the other way around, but i think this is a miss, webpack can use the `import * as styles` to batter analyze the bundle and do proper tree shaking.

[2019-02-03 08:36] mrmckeb commented on #16
@batusai513, @dawnmist is correct (thanks) - the problem is that this is a default export, and you're importing as though they are named exports.

First, tree-shaking won't be impacted here as this isn't a JS module (please correct me if I'm wrong). Second, this plugin originally had named exports, but that meant people had to use JS-friendly names for exports. As the plugin evolved, this was deem

[2019-02-16 03:17] babakness opened #17 "Handle more complex SASS/SCSS syntax"
**Is your feature request related to a problem? Please describe.**

Yes, the css incompatible parts of `sass` don't seem to be supported.

It would be great if we could write with programmatic short hand like this in SASS

[code]

and get typings for the compiled CSS result

[code]

**Describe the solution you'd like**
SASS/SCSS files are compiled for full SASS pre-processor language support

**De

[2019-02-17 06:30] babakness commented on #17
My naive approach was to try to compile SASS files to CSS before classes are extracted. However, the compilation is asynchronous (callback). It does not appear that this function

https://github.com/mrmckeb/typescript-plugin-css-modules/blob/769366a64321fa7961f0e1e9f6f523c46237a264/src/index.ts#L19

Can be `async`  or return a `Promise`. Not too familiar with writing language servers for VSCode.

[2019-02-21 03:36] babakness commented on #17
For now, I've made a package to compile sass into type definitions for use in projects

<img src="https://raw.githubusercontent.com/babakness/sass-module-types/master/.github/images/animation.gif" alt="sass-module-types animation" />

https://github.com/babakness/sass-module-types

[2019-02-21 07:23] mrmckeb commented on #17
Thanks @babakness, sorry for the slow response - I've had a busy week...

This has been a hard exercise for me too, as there obviously needs to be a balance between feature support and speed of compilation... the more features supported, the slower updates will be - which impacts TypeScript's performance too.

I'm not entirely sure what the best path forward is here. I'm currently working on somet

[2019-02-21 07:24] mrmckeb commented on #16
This will be resolved by #10, which I'm looking at adding soon.

[2019-02-21 07:24] #16 closed

[2019-03-14 22:19] hellocontrol-bng commented on #17
+1 on this, especially because using those complex features actually prevents the rest of the file from working as expected. I have a file that breaks because it uses a mixin, and the result is that NONE of the classes in that file are reflected, even if they are not using the mixin at all.

[2019-03-14 22:19] DavidBabel commented on #17
Your both libs are awesome guys. You can make a pretty neat thing if you guys work together ;)

[2019-04-24 03:29] erwan-joly opened #18 "LESS files containing nested function are failing"
**Describe the bug**
LESS files containing function are failing to "build"

**To Reproduce**
Create a Less files with a function like
[code]

then mouseover the styles in your import.

[2019-05-17 08:45] spawluk opened #19 "LESS mixins are not suported"
**Describe the bug**
When using mixins, styles properties are not built.

**To Reproduce**
[code]

[code]

**Expected behavior**
Generate correct output on import

**Screenshots**
![image](https://user-images.githubusercontent.com/3480057/57915296-be9b8e00-7890-11e9-802b-ad937dc10285.png)

[2019-05-21 06:56] mrmckeb commented on #19
Thanks for this issue @spawluk. So, right now this extension supports only the most basic features of Sass/Less - that is, classes and nesting. Sorry for the inconvenience...

I'm working on updating this now, and will hopefully have a new version out shortly with full support.

Please feel free to submit a PR if you have suggestions in the meantime :)

[2019-05-21 06:59] mrmckeb commented on #18
Sorry for the *very* slow reply @erwan-joly. I'll be looking into this over the weekend and plan to release a new build then.

The extension was only really tested with Sass, and Less support was always going to be limited - but I understand the need to support this.

[2019-05-25 16:31] mrmckeb commented on #12
Closed by #20. Will be released later today :)

[2019-05-25 16:31] #12 closed

[2019-05-25 16:32] mrmckeb commented on #17
Closed by #20. Will be released later today :)

[2019-05-25 16:32] #17 closed

[2019-05-25 18:12] #18 closed

[2019-05-25 18:12] #19 closed

[2019-05-25 18:29] #10 closed

[2019-06-06 20:08] ChristianIvicevic opened #24 "Absolute paths using baseUrl in CRA-based project won't get resolved correctly"
**Describe the bug**
I am writing a CRA-based application and just turned on `"baseUrl": "src"` in the corresponding `tsconfig.json` file. Hence I am importing styles as `import Styles from "components/App/App.module.scss";` instead of `import Styles from "./App.module.scss";` for example. This causes the plugin to not do anything and not suggest any class names since it cannot resolve the file ap

[2019-06-07 08:21] mrmckeb commented on #24
Hey @ChristianIvicevic, this should work as `tsconfig.json` is how TypeScript knows where to find the files... but there may be something else going on here.

Also, you shouldn't need to install node-sass, CRA will compile Sass for you in newer versions :)

Are you able to share your test repository? Otherwise I can take a look over the weekend.

[2019-06-07 09:49] ChristianIvicevic commented on #24
The documentation still explicitly states to install node-sass when using CSS modules with SCSS files. Never really heard it not being necessary.

Anyways, I just upped a very simple repo for you to check what's going on: https://github.com/ChristianIvicevic/css-modules-mwe

[2019-06-07 15:18] bsunderhus opened #25 "Relative paths using typescript paths options not being resolved"
Apparently, the plugin is not able to resolve the types for files that are relative to some path declaration on the typescript configuration.

My `tsconfig.json`:

[code]

In my *TS* file if I import a style by an absolute path, everything works fine, but if the file path is relative to the `~` it simply doesn't work

[code]

- OS: OSX 10.14.5
- Browser: Chrome
- Version: 75

[2019-06-09 09:21] mrmckeb commented on #25
Thanks for raising this, and for the detailed reproduction instructions.

This is related to #24, and I'm working on it right now. Hopefully I'll release a fix today.

[2019-06-09 09:21] #25 closed

[2019-06-09 14:00] mrmckeb commented on #24
Sorry @ChristianIvicevic, you're correct - I never faced the issue as I always had Storybook installed.

Thanks for your time helping to resolve this, it turned out to be a little trickier than expected... so do let me know if this does or doesn't solve your issue. I'll close this ticket when we're ready to release.

[2019-06-09 14:01] #24 closed

[2019-06-09 15:55] ChristianIvicevic commented on #24
@mrmckeb I'll test this later this evening or tomorrow and report on whether this fix has resolved the issue. Thanks for looking into it!

[2019-06-24 14:40] testarossaaaaa opened #27 "Question: Is it only for IDE completion or build time checking"
So if I make a mistake and run the tsc directly from a console will I get an error?

[2019-06-24 16:47] mrmckeb commented on #27
Hello @testarossaaaaa, good question.

Right now, the TypeScript team don't support plugins during build-time, only development, but this is something many members of the community want to see changed.

If you really need this, you can consider using [`ttypescript`](https://github.com/cevek/ttypescript) with a transform, or using a tool that writes `.d.ts` files to disk. Neither solution are ideal

[2019-06-24 16:47] #27 closed

[2019-07-01 12:05] Finesse commented on #11
Do plugins work when I run `tsc --noEmit` on TypeScript 3.5?

[2019-07-02 08:30] mrmckeb commented on #11
Hi @Finesse, unfortunately Microsoft hasn't allowed this yet. This issue is still outstanding...
https://github.com/microsoft/TypeScript/issues/16607

As for your issue around the plugin not working, in VSCode I use it myself and it's working fine with Less and Sass CSS modules. Can you share any more information?

In VSCode, I recommend the first approach, as you can use options: https://github.c

[2019-07-12 09:24] zaaack opened #29 "include mixins in scss cause whole file not working"
**Describe the bug**
[code]
This will cause types missing.

![image](https://user-images.githubusercontent.com/5233940/61117644-8e0b5580-a4c9-11e9-9fb6-3444434206dc.png)

**To Reproduce**
Steps to reproduce the behavior:

1. create index.module.scss with mixins `.cls { @include line-clamp(3); }`
2. open ts file in vscode

**Expected behavior**
A clear and concise description of what you expected t

[2019-07-14 15:16] mrmckeb commented on #29
Thanks for raising this @zaaack. I'll take a look at it today and try to get a fix out in the next 24 hours.

[2019-07-14 18:01] #29 closed

[2019-07-14 18:10] mrmckeb commented on #29
This is now released. Thanks again!

https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v1.2.1

[2019-07-29 19:16] onpaws opened #32 "How can I help this lovely project get merged upstream into CRA?"
Thanks for making this project, it's cool and thanks to your efforts I was able to write my React components using TypeScript and include CSS Modules. Nice to have both!

Regarding this [comment](https://github.com/facebook/create-react-app/pull/5877#issuecomment-474950423)
"Closing this off until plugins work at build-time."

It sounds like I should direct my attention to Microsoft's TS team so t

[2019-07-30 18:43] mrmckeb commented on #32
I'm glad it helped you! Thanks for the feedback.

Yes, so the big blocker here is that the TypeScript team have yet to provide a way for this to work at build-time... which is not ideal. It was obviously me that made the call to close the issue off at that time, and I do wish we could support it now.

We could consider moving CRA to https://github.com/cevek/ttypescript, but I feel that's imperfect

[2019-07-30 18:43] #32 closed

[2019-08-15 06:28] dko-slapdash opened #34 ""Go to definition" does not work right"
**Describe the bug**

Thanks for the awesome plugin!

I noticed that "Go to definition" feature doesn't jump to the CSS class though.

**To Reproduce**

Here is an animated GIF which shows the problem:

![Aug-14-2019 23-19-57](https://user-images.githubusercontent.com/46383452/63076659-ce0b9100-beea-11e9-91f8-e0c77792d8ec.gif)

- OS: MacOS
- Version: current

[2019-08-15 06:38] dko-slapdash opened #35 ""Find all references" feature doesn't work"
Thanks again for the plugin!

Looks like the feature "find all references to a particular css class" doesn't work in vscode.

Here is an animated GIF illustration:

![Aug-14-2019 23-32-16](https://user-images.githubusercontent.com/46383452/63077086-03fd4500-beec-11e9-8211-40ff8e50f646.gif)

What's interesting is that if I run "Find all references" from the side of a tsx file, it ALMOST works. Here

[2019-08-15 09:19] dko-slapdash commented on #34
...what I also want to say: your plugin is the only really working solution in the universe. I just spent 2 days only on bridging css-modules + typescript strong typing + babel. And it finally works (except the two issues I created here). It's a big responsibility - and a big respect - to support this solution, because (as I believe) the general success of css-modules (vs. other techniques like st

[2019-08-15 19:02] dagda1 opened #36 "tsserver logging"
**Is your feature request related to a problem? Please describe.**
There is no logging throughout the plugin and errors are just getting swallowed, for example in [cssSnapshots](https://github.com/mrmckeb/typescript-plugin-css-modules/blob/develop/src/helpers/cssSnapshots.ts#L63), the catch block returns `{}`.

[code]

It took a lot of painstaking logging to find out that an exception was being sw

[2019-08-15 20:11] dagda1 opened #37 "tilde sass import from node_modules library"
**Describe the bug**

I have a sass file that includes an `@import` to a file in a package in `node_modules`

`@import '~@cutting/component-library/src/styles/_index.scss';`

I get this error:

[code]

This is getting raised from this line in `cssSnapshots.js`

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. add an import to a package in node_modules

**Expected behavior**
The sass f

[2019-08-16 07:56] mrmckeb commented on #36
Hi @dagda1, I have also faced this issue and it needs to be addressed. Would you like to raise a PR? If not, I could probably look at it this weekend.

[2019-08-16 07:57] mrmckeb commented on #35
I think this would be solved by #34 as you've pointed out... let me look into potential solutions for this.

[2019-08-16 07:59] dagda1 commented on #36
@mrmckeb very happy to raise a PR.  Very happy to help, I've been looking for ts css module support for a long time.

[2019-08-16 08:03] mrmckeb commented on #34
Hi @dko-slapdash, I'm actually on the Create React App team - the reason we haven't included this is because plugins for TypeScript only work in an IDE... which means you don't get errors during build, or on your CI. I hope the TS team addresses this in the near future.

As for this issue, it's definitely a _known_ issue and I should have documented it.

The plugin works by loading CSS, processing

[2019-08-16 08:06] mrmckeb commented on #37
Hi @dagda1, you might be right on the suggested solution, this is definitely something we can add in.

Unfortunately these things are hard, as we can't know a user's configuration for Sass/Wepback/etc, so everything we're doing here is best effort.

If you want to take a swing at this, let me know - if not, that's fine. I'm on a business trip in London and time is short for the next 2-3 weeks... b

[2019-08-16 08:10] dagda1 commented on #37
@mrmckeb This might be trickier than I first thought.  The tilde thing is what sass-loader uses, so I'm exploring how they handle it.

already looking into it :), do you have any other tips for debugging apart from lots of `logger.info` statements?

[2019-08-16 08:10] dko-slapdash commented on #34
Oh wow, I didn’t realize you’re in create-react-app!

I think that even a raw string search by /^\.key\b/ where key is the property visible from TS side would be waaay better than nothing.

(BTW regarding less, I had to switch back from less to css unfortunately, because the plugin was stopping working silently; I can’t reproduce it stable enough though; btw, how do you debug the code? Is there a

[2019-08-17 02:38] babakness commented on #24
I'm still having this issue.

[code]

[code]

Does not raise a TS error the type of `styles` is given by `{}`. Using relative path affords the correct types. Using paths within `baseUrl`

[code]

[2019-08-17 12:03] dagda1 commented on #37
@mrmckeb I've been doing some detective work and the `~` was actually a workaround in the sass-loader that was fixed in [this PR](https://github.com/webpack-contrib/sass-loader/pull/447/files).

If I remove this tilde from my import and include `node_modules` in the `includePaths` in renderSync then all is good.

[code]

The above will fix my problem if I remove the tilde and add `node_modules` to

[2019-08-18 09:28] mrmckeb commented on #34
There's a PR in to resolve the issue around silent failures - it was an oversight on my part.

I'm currently away on a business trip and I don't have a lot of time, but I hope to get that in in the next few days.

I think searching by key is fine, but the concern is that it won't catch all classnames... but I'm wondering if we could do something with sourcemaps instead... :)

[2019-08-18 18:47] mrmckeb commented on #37
Again, sorry for the slow reply... I'm in London working still, I'll not be back home for two more weeks, but I'm trying to find time where possible.

I agree with you, I think adding an option for this makes sense. We could just call it `paths` as in `tsconfig.json`.

I'm on the Create React App team, we've moved to using TypeScript's settings (from `tsconfig.json` or `jsconfig.json`) where possi

[2019-08-26 09:17] #36 closed

[2019-08-26 14:24] amelekhin commented on #37
This should work fine for imports that are located in `node_modules` or linked through `resolve.modules`, but I doubt it would work for `resolve.alias` as well. It feels like `includedPaths` should utilize the `compilerOptions.paths` option's format.  I wonder, is there a way to make use of `compilerOptions.paths` values directly in the plugin?

[2019-09-01 15:22] dko-slapdash opened #41 "Sometimes tsserver crashes, and typescript-plugin-css-modules stops understanding the classes"
Thanks for the awesome commit https://github.com/mrmckeb/typescript-plugin-css-modules/commit/143b7ea211a56a7d68a356a998ede33ed57baf18 !

I tried it and turned on verbose logging via TSS_LOG (BTW, for the future googlers, if using Remote - Container extension, the simplest way to set TSS_LOG is to add `environment: - TSS_LOG="-logToFile true -file /tmp/TSS_LOG.txt -level verbose"` to docker-compos

[2019-09-01 15:50] dko-slapdash commented on #41
...According to the stacktrace, looks like createLanguageServiceSourceFile() is sometimes called for the generated d.ts-alike generated code and not for the original css code.

As a very hacky work-around, we may add the following check to getDtsSnapshot():
[code]

[2019-09-04 11:16] mrmckeb commented on #41
Interesting... Thanks for investigating this. We'll definitely need to investigate this further.

I plan to release a new version this weekend, and will see if I can get a fix for this in.

[2019-09-07 11:59] mrmckeb commented on #37
Yes, that's a good idea @amelekhin - and sorry for the delay, I've been away for two weeks.

Would you like to take a look at that?

[2019-09-07 12:22] mrmckeb commented on #34
hi @dko-slapdash, just dropping a note to say that I haven't forgotten about this.

I think it's going to require using sourcemaps. Perhaps using something like this https://github.com/mozilla/source-map, or something more lightweight if possible.

[2019-09-07 12:28] mrmckeb commented on #35
So, I've looked into this a little more and I think that the second issue may be fixed by #34, but the first issue won't be.

This would require a VSCode extension I believe, as this plugin (and TypeScript) aren't operational when the CSS file is open.

I've marked this as an enhancement, but I think this will only be partially fixable... Of course, that doesn't mean we shouldn't try :)

[2019-09-07 12:34] mrmckeb opened #42 "Add logging to docs"
**Is your feature request related to a problem? Please describe.**
Thanks to #36, logging for this plugin is now available. Usage needs to be documented.

**Describe the solution you'd like**
Documentation on how to use logging within VSCode (at a minimum).

[2019-09-11 22:25] dko-slapdash commented on #41
Thanks! Until the fix is released and published to npmjs.com, we have to apply the above hack to lib/helpers/cssSnapshots.js :-)

[2019-09-12 07:36] mrmckeb commented on #41
Unfortunately I ended up in London again on a business trip.

@lianapache Can you please try to reproduce this one so that we can verify the fix and get it out?

[2019-09-15 16:34] #42 closed

[2019-09-17 10:49] vvni opened #44 "The directory hierarchy is very deep and leads to Problem"
**Describe the bug**
The directory hierarchy is very deep and leads to Problem
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-09-17 12:11] mrmckeb commented on #44
Hi @vvni, can you please provide more information on this ticket? I don't quite understand the issue as you're reported it.

[2019-09-17 12:19] #41 closed

[2019-09-17 14:29] vvni commented on #44
Ok, sorry. I was busy working before, and I didn't describe it clearly. I will add later

[2019-09-20 07:26] vvni commented on #44
@mrmckeb, After updating the latest version, I found that my problem was solved.

[2019-09-20 07:26] #44 closed

[2019-09-24 08:07] lianapache opened #45 "Migrate to ESLint"

[2019-09-27 17:23] BasilPP opened #46 "postcss.config.js plugins causing exception"
**Describe the bug**
When using this plugin, it throws an exception when a `postcss.config.js` file with plugins is present.
Error Message:
`[typescript-plugin-css-modules] Stack trace: Error: Use process(css).then(cb) to work with async plugins`

**To Reproduce**
Include a `postcss.config.js` file with any of these plugins:
•	postcss-import
•	postcss- url
•	postcss-preset-env
•	cssnano

**Expecte

[2019-09-29 11:52] BasilPP opened #47 "Less files importing other less files"
**Describe the bug**
When a .less file imports another .less file with a relative path, an error occurs.
When a .less file imports another .less file with an absolute path, an error occurs.

I tried logging the error `less.render` was giving:
`FileError: './constants.module.less' wasn't found. Tried - ./constants.module.less,c:\dev\app\constants.module.less,constants.module.less in input on line 1

[2019-09-30 07:14] mrmckeb commented on #46
Basically, the issue here is that TypeScript doesn't support anything async as a part of this process. So the moment an async plugin is loaded, we can't complete the transform.

The problem then, which I'm sure you've guessed, is that some people may find that their CSS is no longer processable - because those plugins are needed for it to work.

If those plugins happen to have sync methods, and so

[2019-09-30 07:15] mrmckeb commented on #47
Hi @BasilPP, I think what you've described above makes sense. We also need to look at how to resolve imports for Sass better too.

There are many ways we can solve this, but I'm beginning to lean towards an approach where maybe the best thing we can do is to ask users to provide their own function for these cases...

But for this case, as it's fairly simple, we could certainly add an option to all

[2019-09-30 14:42] BasilPP commented on #47
Hi @mrmckeb, I'm happy to try make a PR.

Would you be happy with something like this:
- a plugin option named "includePaths"
- it would be an array of paths that are relative to the app root. (e.g. `"includePaths": ["./src"]`  )
- in the code the full paths would be created by appending each realtive path to `info.project.getCurrentDirectory()` (the root  path for the app)
- the paths would be pa

[2019-09-30 18:10] BasilPP commented on #46
Thanks for the reply @mrmckeb
In my particular case I don't think any of the postcss stuff needs to be processed by the plugin at all.
(My postcss is just used to to run things like `postcss-url` which I believe won't affect any of the css classes themselves.)

At the risk of polluting the tsconfig options, is this something that could be worth having an option for?

[2019-10-01 08:02] mrmckeb commented on #47
Perhaps we should use `modulePaths` as Jest does, or just `paths` as per `tsconfig.json`? Another option is we could just pass paths through from tsconfig.json - maybe that is the best option?

Otherwise, all of that sounds great!

Yes... but this requires more thought and a little planning. But, it would be the most stable way to resolve these types of issues.

[2019-10-01 08:06] mrmckeb commented on #46
Yes, definitely. Do you think the option would just be to ignore your local config? Or to pass in a custom config here?

Or perhaps the solution we were discussing in #47 is the best fix?

[2019-10-01 08:39] BasilPP commented on #47
That seems like the cleanest idea! Do you know how to get those paths from the the `PluginCreateInfo`?
(I'm having a look at the typings and I cant seem to find how to access them)

[2019-10-01 09:13] BasilPP commented on #46
A config definitely sounds better than just a plain ignore flag, how do you see a custom config working/looking like?

Yeah, I think your custom function idea for rendering is starting to sound like it will solve both cases the best!
With that in mind, do you think its still worth me finishing that PR, or would you rather have a look at solving it by using the render function, and not have the con

[2019-10-02 07:52] mrmckeb commented on #47
We're curretnly accessing it here - https://github.com/mrmckeb/typescript-plugin-css-modules/blob/develop/src/index.ts#L144

So I think `baseUrl` could do the trick? Paths could also be accessed the same way (I believe).

[2019-10-02 07:58] mrmckeb commented on #46
So we could:

a) Allow someone to pass a config in, by name:
[code]

b) Pass a custom processor, that would handle any matched files.
[code]

The second is great to have, especially for advanced/edge cases.

I imagine it would be something like:
[code]

I or @lianapache could do that over the weekend if the second option sounds better for you?

[2019-10-02 12:33] k-g-a opened #48 "Does not generate definitions for imported stylesheets"
**Describe the bug**

Even if we could use `@import` statements without throwing an error about plugin's async mode (i.e. via `postcss-import-sync2` plugin) - we still don't get proper typings for such files.

**To Reproduce**

Assuming we have:
1) `./foo/index.css` with some relative imports:
[code]
2) corresponding files  `./foo/A.css` & ``./foo/B.css``
3) the following `postcss.config.js`:
[cod

[2019-10-02 15:49] BasilPP commented on #46
The second option is absolutely perfect! (and it solves #47 very nicely too)

Thank you so much to you both for spending so much time looking into this, its very much appreciated!

[2019-10-02 15:53] BasilPP commented on #47
I am blind!

[2019-10-03 07:33] mrmckeb commented on #48
Hi @k-g-a, that sounds good to me - thanks!

I don't think it would break setups, but we could certainly test it. If you can make the PR with or without tests, that would be great - I can always add tests before getting the next release out this weekend.

[2019-10-03 07:34] mrmckeb commented on #47
Haha, no problem @BasilPP.

FYI, @k-g-a has a proposal to resolve this - so my goal is to get that out alongside the other solution over the weekend.

Thanks!

[2019-10-03 07:37] mrmckeb commented on #46
No problem!

[2019-10-03 14:46] k-g-a commented on #48
Great news, will make 2 PR (for this and for less) tomorrow

[2019-10-03 21:53] PsiRadish opened #49 "Does not use SASS_PATH environment variable when resolving imports"
**Describe the bug**
I have a sass file containing variable/function/mixin stuff located at `/src/theme/_module-basics.scss`.
In my *.env* file I have
[code]
which allows me to import *_module-basics.scss* into any CSS module regardless of its location with just
[code]

However, after importing such a CSS module into a tsx file, it is typed only as `{}` in VS Code, and I see this in the TS Server

[2019-10-04 07:20] mrmckeb commented on #48
Thank you!

[2019-10-04 07:22] mrmckeb commented on #49
Thanks for this. I can take a look at it over the weekend.

I found documentation on this and will look at this over the weekend - unless you'd like to raise a PR @PsiRadish?

[2019-10-04 12:10] k-g-a commented on #48
No problem. Those changes are quite small and are closely related, so I decided to make them via single PR :)

[2019-10-05 01:45] PsiRadish commented on #49
Sure.

[2019-10-05 08:28] JounQin opened #52 "`camelCase` option is not working"
**Describe the bug**
As title, the generated definition is `{}`

**To Reproduce**
Steps to reproduce the behavior:

[code]

I've already have:
[code]

and

[code]

**Expected behavior**
No error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/8336744/66252319-c2bb4000-e78c-11e9-9143-59cff95cd87a.png)

**Desktop (pleas

[2019-10-09 07:55] mrmckeb commented on #52
Hello @JounQin,

On Catalina already, you're very keen!

Are you able to share a repository with a reproduction? Even if it's a very simple case.

[2019-10-14 01:25] woshiguabi opened #53 "How to use with less global variables"
**Describe the bug**
In my project, i use less-loader option `modifyVars` to support global variables.
But seems like `modifyVars` will cause plugin not working.

**To Reproduce**
_path/to/webpack.config.js_
[code]
_path/to/theme.js_
[code]
_path/to/component.less_
[code]
_path/to/component.tsx_
[code]

**Expected behavior**
The export object includes `component` prop.

**Desktop (please complete

[2019-10-14 13:55] #47 closed

[2019-10-14 14:22] #48 closed

[2019-10-17 23:21] pwang1984 commented on #53
I have the same problem. In addition to the global variable, if I have any import to my less file, it stops working.

In my case, it could be something to do with visual studio code though. Everything compiles and runs properly. The problems are auto-completion not working and also visual studio code complaining (which is annoying)

[2019-10-18 18:51] pwang1984 commented on #53
logs:
[code]

With global variable.
[code]

With import
[code]

[2019-10-18 19:19] pwang1984 commented on #53
Did a bit more digging. global vars can be passed in as a option for render. Following works
[code]
Maybe we can define a plugin option to load the varibles from a json file

For the my import problem, I saw this thread
https://github.com/less/less.js/issues/2342#issuecomment-67596931
Maybe all we need is to resolve the file path.

With global variable, import will be less important.

[2019-10-19 17:11] #49 closed

[2019-10-19 19:35] mrmckeb commented on #53
Hi @pwang1984, would it help if I added the ability to pass in options to `less.render`?

[2019-10-20 15:49] mrmckeb commented on #52
Hello, I've found the issue here, sorry for the inconvenience. It will be in the next release.

[2019-10-20 16:45] mrmckeb commented on #37
Hi, I've just released v2.0.0 which should solve this issue by allowing users to pass through options to Less and Sass.

Release notes and migration steps can be found here: https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.0.0

Please let me know if you have any feedback!

[2019-10-20 16:45] #37 closed

[2019-10-20 16:46] mrmckeb commented on #45
We've just released v2.0.0 which added ESLint.

Release notes and migration steps can be found here: https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.0.0

[2019-10-20 16:46] #45 closed

[2019-10-20 16:47] mrmckeb commented on #46
Hi @BasilPP, we've just released v2.0.0 which enables custom renderers and passing through options to renderers.

Release notes and migration steps can be found here: https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.0.0

Please let me know if you have any other issues or feedback! And thanks for your patience.

[2019-10-20 16:47] #46 closed

[2019-10-20 16:49] mrmckeb commented on #52
Hi @BasilPP, we've just released v2.0.0 which resolves this issue (the rule is now renamed to `classnameTransform`).

Release notes and migration steps can be found here: https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.0.0

Please let me know if you have any other issues or feedback! And thanks for your patience.

[2019-10-20 16:49] #52 closed

[2019-10-20 16:50] mrmckeb commented on #53
Hi @BasilPP, we've just released v2.0.0 which enables passing through options to renderers.

Release notes and migration steps can be found here: https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.0.0

Please let me know if you have any other issues or feedback! And thanks for your patience.

[2019-10-20 16:50] #53 closed

[2019-10-20 16:52] mrmckeb commented on #49
Hi @PsiRadish, we've just released v2.0.0 which includes this PR and other changes.

Release notes and migration steps can be found here: https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.0.0

Please let me know if you have any other issues or feedback! And thanks for your patience.

[2019-10-20 23:03] JounQin commented on #52
@mrmckeb In the release page, it's named `localsConvention`?

[2019-10-21 03:50] dagda1 commented on #37
@memckeb i’m sorry but which of the new options solves this problem?

[2019-10-21 06:57] mrmckeb commented on #37
Sorry I wasn't clear @dagda1. You can now pass in (via options) paths to the Sass/Less renderers, which will allow you to add to or override default settings.

https://github.com/mrmckeb/typescript-plugin-css-modules#rendererOptions

We could also add 'node_modules' the paths directly if you think that would help, I have no concern with that and could get that change out today/tomorrow.

[2019-10-21 06:58] mrmckeb commented on #52
Updated, thanks @JounQin - that was a mistake. It is meant to reflect the new `localsConvention`, but I named it `classnameTransform` because it is implemented separately and may not always be in-sync with that setting.

[2019-10-22 03:04] PsiRadish opened #56 "Plugin can ONLY find .env file if dotenvOptions.path is set with an absolute path"
**Describe the bug**
If `dotenvOptions.path` is not set then `dotenv` will proceed with its default path of
[code]
and since `process.cwd()` is the VS Code installation directory, it will not find anything. Setting `dotenvOptions.path` to a relative path also fails, for likely the same reason.

**To Reproduce**
Steps to reproduce the behavior:

1. **In some React project**
   Add a `.env` file at

[2019-10-22 06:43] mrmckeb commented on #56
Hi @PsiRadish, I think we can fix this by adding a default config (path = project path). Does that make sense to you?

[2019-10-22 06:57] krawaller opened #57 "Imported less files not found when using `tsc`"
Just to join the choir - thank you for an amazing tool!

It works flawlessly in the editor, but I'm having trouble getting `tsc` to work. I set up a minimal repo reproducing the issue here: https://github.com/krawaller/ts-less-demo

It includes very minimal `foo.less` file:

[code]

...and an equally minimal `foo.ts` that consumes it:

[code]

The `tsconfig.json` includes the `src` folder containi

[2019-10-22 07:06] mrmckeb commented on #57
HI @krawaller, I think you missed the step here: https://github.com/mrmckeb/typescript-plugin-css-modules#custom-definitions

`tsc` won't run this plugin during build (the TypeScript team are looking into this), so you need to tell it what this file is :)

[2019-10-22 07:33] krawaller commented on #57
Argh, I fooled myself, apologies @mrmckeb! I did indeed forget it at first, then added it, but it still wasn't working. However, I failed to notice that the error message turned from the above into this:

![image](https://user-images.githubusercontent.com/249764/67265755-d1a13280-f4ae-11e9-912f-eb9b3aad2d1b.png)

But if I refactor `foo.ts` to not use the named exports directly...

[code]

...then

[2019-10-22 08:47] krawaller commented on #57
Also, for anyone else stumbling across this issue´ having been as silly as me: My original mistake was to put the `.d.ts` file with the custom definitions outside of the folder targeted by the `includes` in `tsconfig.json`. TS newbie mistake.

[2019-10-22 13:47] mrmckeb commented on #57
Yes, this is an issue... and it's been a long long conversation with the TypeScript team...

This is one of the threads: https://github.com/microsoft/TypeScript/issues/14419

Sorry I can't help further, and thanks for the feedback!

[2019-10-22 13:47] #57 closed

[2019-10-22 18:09] PsiRadish commented on #56
Absolutely.

Though, just to be clear, do you mean doing something like this in `create`?
[code]
Or is there some other way of doing it?

[2019-10-22 20:45] PsiRadish commented on #49
This doesn't work with relative paths in `SASS_PATH`.  I mean, it technically doesn't work at all most of the time because of #56, _but_ even if that were fixed, relative paths in `SASS_PATH` would be resolved relative to `process.cwd()` which is VS Code's installation directory.

I fixed this in #51 by replacing relative paths in `SASS_PATH` with resolved absolute versions, but [it was removed](h

[2019-10-23 10:39] mrmckeb commented on #56
I'd suggest instead, just creating a default object

https://github.com/mrmckeb/typescript-plugin-css-modules/blob/develop/src/index.ts#L36

[code]

And in other cases, the user can replace it with their options... sound OK?

[2019-10-23 10:40] mrmckeb commented on #56
If so, I can do today/tomorrow ;)

[2019-10-23 10:49] mrmckeb commented on #49
@PsiRadish, thanks for that investigation.

That code removal was my mistake, I refactored that area and removed that code without realising that I'd also removed the normalisation.

I'd rather not have _too_ much logic to cover different cases - but I understand that sometimes that isn't enough.

So yes, I think it's fine to add this back in. I can do it along with #56, or you can create a PR - l

[2019-10-23 17:15] PsiRadish commented on #49
Probably quicker to let you do it with #56.

[2019-10-24 08:39] mrmckeb commented on #56
How does this look @PsiRadish? If you think it looks OK, I'll merge and release today!

[2019-10-24 08:40] mrmckeb commented on #56
Sorry @PsiRadish - https://github.com/mrmckeb/typescript-plugin-css-modules/pull/58

[2019-10-24 16:25] PsiRadish commented on #56
That looks spiffy.

[2019-10-25 09:57] #56 closed

[2019-10-25 22:35] PsiRadish commented on #56
😬 😅
So the `dotenvOptions` object the plugin constructs [here](https://github.com/mrmckeb/typescript-plugin-css-modules/blob/v2.0.1/src/index.ts#L36-L42) looks great.
Unfortunately it never gets used, as `dotenv.config` is [still called with the original `options.dotenvOptions` afterward](https://github.com/mrmckeb/typescript-plugin-css-modules/blob/v2.0.1/src/index.ts#L43).

Once I fixed that, th

[2019-10-27 09:10] mrmckeb commented on #56
Thanks @PsiRadish, this is hopefully now resolved (#59). Please see [v2.0.2](https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.0.2).

Thanks again!

[2019-11-10 21:18] EECOLOR commented on #34
@mrmckeb Source maps won't help here as the icss stack generally doesn't supply source information when they are doing the transforms.

All exported elements are extracted from the `:export` pseudo class. Which might be generated by `:local`, `@value` or postcss `messages` that adhere to the 'icss spec'.

The ideal solution would be to include source information through the whole icss world, but t

[2019-11-11 07:42] mrmckeb commented on #34
@EECOLOR, I complete agree - the only concern I have is that this won't work for many cases.

As you mentioned, it won't work for multiple occurences, it also won't work for generated/concatenated classnames, etc.

My thought was that we could possibly deal with the latter issue by creating a sourcemap before we extract the classnames... or as a separate process. As you mentioned, that's not going

[2019-11-11 08:06] dko-slapdash commented on #34
BTW, VSCode supports multiple occurrences in the UI - i.e. if we create the following:

[code]
then it will be an interface A with 2 fields, and when doing "Go to definition", it will show 2 files and 2 locations for A.

P.S.
I'd say that the absence of "go to definition" doesn't hurt much presently. What really hurts is that the plugin doesn't work stable enough still: e.g. if I add a new classna

[2019-11-13 04:19] thekevinbrown opened #61 "Unsure how to configure autocomplete in VSCode"
**Describe the bug**
These docs seem to be outdated:
https://github.com/mrmckeb/typescript-plugin-css-modules#visual-studio-code

There's no heading anymore for using the workspace version of Typescript, and in my project it's just using the types I set up:

[code]

So autocomplete doesn't do anything other than enforce an object with string keys and string values.

Searching in VSCode itself for

[2019-11-13 04:38] thekevinbrown commented on #61
Looks like that link moved to here? https://code.visualstudio.com/docs/typescript/typescript-compiling#_using-the-workspace-version-of-typescript

[2019-11-13 04:44] thekevinbrown commented on #61
Yup, that fixed it. Steps:

`.vscode/settings.json`:
[code]

Command Pallette -> TypeScript: Select TypeScript Version -> Workspace

So the task is really just to update the docs to point to the new link.

[2019-11-13 20:33] jakelauer opened #62 "Using plugin breaks Visual Studio TSServer functionality"
**Describe the bug**
When I enable the plugin, all of the TypeScript functionality in the Visual Studio 2017 editor breaks.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a TypeScript project in VS2017
2. Enable the plugin
3. Observe

**Expected behavior**
Plugin functions and enables CSS module autocomplete.

**Actual Behavior**
TypeScript no longer provides any syntax highlight or n

[2019-11-13 20:44] jakelauer commented on #62
More context. There are actually a few more lines logged when the plugin is enabled:

`
Info 1206 [12:40:41.201] FileWatcher:: Added:: WatchInfo: D:/<project>/Client/src/UI/UIKit/Controls/Spinner.module.scss 500 Project:  WatchType: Closed Script info
{"seq":110,"type":"request","command":"getOutliningSpans","arguments":{"file":"d:/<project>/Client/node_modules/typescript-plugin-css-modules/lib/in

[2019-11-17 12:22] mrmckeb commented on #61
I'll try to update the docs this weekend ;) Thanks!

[2019-11-17 12:25] mrmckeb commented on #62
Hi @jakelauerm, would you be able to look into this and raise a PR?

I'm not on Windows and don't work with Visual Studio (I use VSCode), so this will be hard for me to test.

Also, have you tried without other plugins? Just out of interest... It may also be good to see if this is only VS that's affected, if VSCode is affected too - then it'll be easier to solve.

[2019-11-17 20:58] SrBrahma commented on #34
Hey there! Very nice plugin, thank you very much for the work. here and on CRA. I don't think it would be bad to be included in the create-react-app even if it doesn't throw errors in compilation. Would already be a giant help :)

In VsCode, we can press F2 to rename a symbol. With this plugin, it doesn't work to rename both css and the .ts. Looks like it is the same problem as the OP pointed.

I

[2019-11-18 08:49] mrmckeb commented on #61
Updated in https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.1.0.

Thanks again!

[2019-11-18 17:30] jakelauer commented on #62
I can try - how do you usually go about debugging this stuff? Is there a way to attach a debugger?

[2019-11-18 18:32] jakelauer commented on #62
I have narrowed this down by slow trial and error. I think this is happening because I'm using .scss files and features. It appears that the plugin fails when it encounters variables being defined (or other such SCSS-only syntax). I sort of assumed this would be natively supported in the plugin, but I realized it might require some PostCSS configuration.

So, I grabbed `postcss-load-config` and `p

[2019-11-21 01:25] hellocontrol-bng commented on #62
FYI I am @jakelauer - this is my work account. I created a PR for this because I determined that the issue was rooted in SASS being unable to import files due to `getFilePath` depending on the `/` character being a useful way to get the folder name of a file.

[2019-11-23 01:12] hellocontrol-bng opened #64 ".module.scss files are being evaluated by ESLint in VS (not VSCode)"
**Describe the bug**
Enabling the plugin causes `.module.scss` files to be evaluated by eslint.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable the plugin in tsconfig
2. Observe

**Observed behavior**
ESLint errors are displayed for the module.scss files even though they are not `js` or `ts` files

**Screenshots**
![image](https://user-images.githubusercontent.com/31326215/69470388-2

[2019-11-23 16:28] vvni opened #65 "Only support relative path import style files？"
**Describe the bug**
Only support relative path import style files？
Introducing a style file using the webpack path, the style file type definition is not
**To Reproduce**
Steps to reproduce the behavior:
@import "~styles/var" // error
@import "../styles/var" // bingo

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screensh

[2019-11-23 16:29] vvni commented on #65
Sorry, my English is very poor.

[2019-11-25 18:57] hellocontrol-bng commented on #62
@mrmckeb Have you had a chance to check out my PR above?

[2019-12-01 12:28] mrmckeb commented on #34
HI @SrBrahma,

You're right, that is the same issue. It's something I'd like to fix - and I'd welcome a PR from anyone that has the time. It's just that I haven't personally had time to investigate the best way to achieve this.

It is possible to autocomplete the path, when importing the styles file?
I don't think it's possible right now - as the plugin needs the file to be imported before it pick

[2019-12-01 12:30] mrmckeb commented on #64
Hi @hellocontrol-bng, this doesn't happen in VSCode... so I'm not sure why you're seeing it.

Can you confirm your configuration for ESLint? It could be that you need to specify the file types supported (you do in VSCode - by default, it's `javascript` and `javascriptreact` only).

[2019-12-01 12:35] #61 closed

[2019-12-01 12:37] mrmckeb commented on #62
Thanks @jakelauer / @hellocontrol-bng - and sorry for the slow response again.

Your fix is great, and I'll get this out today!

[2019-12-01 12:38] #62 closed

[2019-12-01 12:41] mrmckeb commented on #65
Hi @vvni, sorry for the very slow reply.

Can you provide a test environment for this? Also, is this for Sass?

I know other users are using this plugin successfully with imports from `node_modules`, so we just need to understand how this case is different :)

[2019-12-01 13:18] mrmckeb commented on #62
Thanks again, this is out as https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.1.1.

[2019-12-01 13:35] vvni commented on #65
OK, give an example later

Brody McKee <notifications@github.com>于2019年12月1日 周日20:41写道：

[2019-12-01 16:31] vvni commented on #65
@mrmckeb [test example](https://github.com/vvni/yunmeng-mall-webapp).This problem can occur with the Tabbar component in the components folder. I used style-resources-loader. I think this is the same problem. You can test my current problem. I don't quite understand what caused it. Thank you very much!

[2019-12-03 17:27] mrmckeb commented on #65
Hi @vvni,

Sorry for the slow reply. You can solve this by following the instructions here:
https://create-react-app.dev/docs/adding-a-sass-stylesheet

In your `.env` file, you should have:
[code]

Then Create React App will allow you to import like this, without any modification in `style-resources-loader` :)
[code]

I tried that in your project, and it works :)

[2019-12-03 23:47] vvni commented on #65
@mrmckeb Thank you very much! Let me try。

[2019-12-04 00:11] vvni commented on #65
@mrmckeb  😊Thank you. This approach did solve my problem. If I use a style-resources-loader to import a style file, can I generate the type definition of the style correctly?

[2019-12-04 09:01] mrmckeb commented on #65
Not at the moment sorry @vvni, this plugin requires that you import files in if you want to use mixins, vars, etc.

I had a look, and I can't see an easy way to do it with the Sass renderer - https://sass-lang.com/documentation/js-api#options. However, I'm always open to a PR if you or someone else would like to submit one!

Let me know if you have any more questions or problems :)

[2019-12-04 09:01] #65 closed

[2019-12-05 01:26] AleksandrHovhannisyan commented on #34
I know this isn't the right place to say it, but I'd rather not pollute the repo with a pointless issue.

Thank you SO much for this plugin. As @dko-slapdash noted, this is literally the only thing that currently works. Great stuff.

[2019-12-08 17:46] mrmckeb commented on #34
Thanks for the feedback @AleksandrHovhannisyan!

[2019-12-09 16:34] muj-beg opened #66 "Importing sass file from "node_modules" doesn't work."
**Describe the bug**
If the CSS module I'm importing in turn imports another SASS file using the "~" prefix, the plugin can't resolve the imported file.

**To Reproduce**
**File: styles.module.scss**:
[code]

**Expected behavior**
Importing SASS files from the `node_modules` folder using the `~` syntax should work.

**Actual Behavior**
The following error shows up in TS server log:
[code]

[2019-12-10 09:09] mrmckeb commented on #66
Hi @muj-beg, I'm sorry you're having trouble with this.

Are you able to provide a demo?

Also, do you have `SASS_PATH` set?

[2019-12-10 15:11] muj-beg commented on #66
Here's a reproduction of the issue: https://github.com/muj-beg/typescript-plugin-css-modules-issues-66 .
This is a standard CRA project.  There's a style import in `App.tsx` that doesn't resolve:
![image](https://user-images.githubusercontent.com/19629343/70541650-69c5aa80-1b35-11ea-81c4-de2c9c65bfba.png)

Thanks!

[2019-12-13 16:12] judehunter opened #67 "Autocompletion doesn't work with indented sass"
**Describe the bug**
The repo kind-of mentions the support for Sass, though from the looks of it I don't believe it does.
What it appears to support is scss-style syntax, and not sass indent / offside-rule syntax.

**To Reproduce**
Steps to reproduce the behavior:

1. Add to `tsconfig.json`:
[code]
2. Create `example.module.sass`:
[code]
3. Create `example.tsx`:
[code]
4. See that autocompletion d

[2019-12-15 14:24] #67 closed

[2019-12-15 16:20] mrmckeb commented on #66
Hi @muj-beg, I've found the issue and will push a fix shortly. Thanks for your patience!

[2019-12-15 18:07] #66 closed

[2019-12-15 18:20] mrmckeb commented on #67
Resolved by v2.1.2.

[2019-12-15 18:21] mrmckeb commented on #66
Hi @muj-beg, please try v2.1.2.
https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.1.2

If this still fails, please let me know and reopen this issue. I've tested locally with your test project and it seems to be fine now :)

[2019-12-16 12:59] muj-beg commented on #66
Just tried v2.1.2 on two project -- and it worked great!

Thanks so much for your quick resolution of this issue, and of course many thanks for the awesome extension in the first place :)

[2019-12-17 08:40] mrmckeb commented on #66
No problem, and thanks for the feedback!

[2019-12-20 11:34] nokternol commented on #66
I have installed 2.1.2 but am experiencing the same error with importing blueprint
The error is identical until it reaches your code where it has moved by 2 lines due to added comments.
`(c:\Users\19004432\source\repos\phoenix4.0\FrontEnd\node_modules\typescript-plugin-css-modules\lib\helpers\getClasses.js:70:18)`

I can see the code changes and unit tests and respect this SHOULD be working but ca

[2019-12-20 15:29] nokternol opened #70 "Extended failure of #66"
**Describe the bug**
node module resolution fails when starting with ~ and the import steps are more than 1
Edge case of #66

**To Reproduce**
Steps to reproduce the behavior:
Forked version of the repo used for #66
https://github.com/nokternol/typescript-plugin-css-modules-issues-66.git
App.tsx does not render it's types correctly due to the ts failing in getClasses line 80

**Expected behavior**

[2019-12-26 16:33] mrmckeb commented on #70
I'm sorry @nokternol, I've been out of action for a bit (Christmas).

I'm using bootstrap in the examples, but wasn't importing like this. There seems to be an issue here:
https://github.com/mrmckeb/typescript-plugin-css-modules/pull/69/files#diff-5ae41b718c24e67dcdf377fdeb0b939aR61-R64

I assume this is because I didn't cater for nested imports... I'll take a look tomorrow and work out a fix.

I

[2019-12-26 16:34] mrmckeb commented on #64
Hi @hellocontrol-bng - I just wanted to confirm if this issue could be closed? Thanks!

[2019-12-27 23:08] hellocontrol-bng commented on #64
I still encounter this, even without using .eslint - I tried with tslint and encounter the same issue. The issue goes away if I turn off this plugin. Is there anything I can do to help investigate?

[2019-12-30 09:45] mrmckeb commented on #64
As you're using VS and not VSCode, I'm not sure how to address this.

Have you tried editing your ESLint config to only target JavaScript and TypeScript files? Thats something you can set with the `files` key - I think that only works inside of `overrides`.

Does the VS ESLint plugin have any options? Maybe you can raise an issue there to see why this behaviour occurs?

[2019-12-30 09:48] mrmckeb commented on #70
Hi @nokternol, if you remove the `~`, you should find that the import works - can you let me know if that works for you? That worked when testing locally.

Again, this is an issue with the parser itself from what I can see, and I'll ask them for support on the issue to see if we can find a proper fix.

[2019-12-31 17:55] hellocontrol-bng commented on #64
I have posted another version of the issue to the TSLint plugin, because that is what actually seems to be throwing the errors, even though it only does it when THIS plugin is also being used. For the record, I switched back to using TSLint and still see the issue, so I think it's something weird about that plugin. I'm not completely sure yet though, so I would like to see what they say.

I honest

[2020-01-02 09:17] nokternol commented on #70
@mrmckeb Apologies for the slow response.
This does appear to work. By removing the tilde from the front of the package name the nested import succeeds.
Strangely though if I import the interim file with "../variables" instead of "../variables.scss" it still fails.
But there is a way to make it all work so I am happy. Thank you for checking into it for me.

[2020-01-02 14:32] mrmckeb commented on #70
No problem, I'll leave the issue open for now and look for a better solution. It's hard to get this right as we need to use a Sass processor that supports a sync API - TypeScript doesn't support async operations.

[2020-01-02 15:40] erwin-k commented on #70
I've got this issue with Less aswell, unfortunately removing ~ does not work in Less.

[2020-01-03 11:25] mrmckeb commented on #70
Hi @erwin-k, have you tried passing through options to the less loader?

You can pass through paths ([detailed here](http://lesscss.org/usage/#less-options)) to our `rendererOptions` ([details here](https://github.com/mrmckeb/typescript-plugin-css-modules#rendererOptions)).

If that works, let me know and I can update the implementation internally so that it includes `node_modules` by default.

If

[2020-01-03 11:40] mrmckeb commented on #64
It's likely that the _imported_ files are being treated as JS/TS... which is not ideal. There could be a way to turn this off. Can you configure your plugins to target only specific file types?

I can see if there's anything we can do to fix that, but this doesn't happen in VSCode which again makes it hard to guess where the issue is. I'll keep thinking on it though.

[2020-02-06 12:33] joeljeske commented on #64
What if you used a custom renderer to add a comment to the files to turn off eslint?

/* eslint-disable */

If this works, this plugin should likely do it by default

[2020-02-06 17:52] joeljeske commented on #64
Pardon me, I was wrong in my assumption as to what the `customRenderer` was. My suggestion will not work.

However, it might work if you used a newly proposed feature `customTypescriptTransformer` in #73

[2020-02-11 08:38] mrmckeb commented on #70
I'll close this off as there hasn't been a response recently, but do feel free to reopen if the issue persists.

[2020-02-11 08:38] #70 closed

[2020-02-11 08:39] mrmckeb commented on #64
@hellocontrol-bng, is this issue still persisting for you? Were there any options on the ESLint plugin that helped?

[2020-02-11 09:47] Nhukangasniemi opened #74 "Cannot find module './Component.module.css'"
**Cannot find module './BuildControle.module.css**

Link for source code
https://github.com/Nhukangasniemi/Burger-Builder-App

Somehow, it works for some components to import css modules but for some components, it doesn't work. I'm using create-react-app, "typescript-plugin-css-modules": "^2.1.2"

[2020-02-11 12:33] #74 closed

[2020-02-14 10:08] kirillvy opened #75 "@import not working with .css files"
**Describe the bug**
An import of desktop.module.css, which itself has the line `@import './styles.module.css';` which contains a class called `.selector` only outputs the following definition:

[code]

instead of

[code]

**To Reproduce**

I reproduced the error [here](https://github.com/kirillvy/tcpm-error)

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/33430552/7452105

[2020-02-19 05:23] Driky opened #76 "`options has an unknown property 'localIdentName'` during build"
**Describe the bug**
After following the install steps, I try to build and it fails. I get The following error:
[code]
**To Reproduce**

tsconfig.json
[code]

package.json
[code]

config-overrides.js
[code]

**Expected behavior**
I can build without error and use css-modules

**Additional context**
I'm setting up the start of a new project with create-react, Typescript, customize-cra, react-app-re

[2020-02-19 09:04] mrmckeb commented on #76
Hi @Driky, this plugin does not affect builds - it only works in the IDE for now, as the TypeScript team have not enabled plugins/transforms during build (yet).

If you remove this plugin, you should see that it is still failing... is that correct?

[2020-02-19 09:05] mrmckeb commented on #75
Hi @kirillvy, this does seem like a bug... it's not something we've ever tested for I think.

Would you like to raise a PR and try to fix this? If not, I can take a look this weekend.

[2020-02-19 23:59] Driky commented on #76
Oh ok thank you for the answer

[2020-02-20 01:51] Driky commented on #76
Still I'm wondering if a user of `typescript-plugin-css-modules` has ever encountered that problem. I have found what cause it to happens but I do not know the inner working of css-loader/less-loader. Maybe somebody here has the answer. If it's not alright to ask this question here please tell me.

As for the reason for the error, it happens when I try to import a less file as a module, like so:
[

[2020-02-20 04:02] #76 closed

[2020-02-24 09:14] mrmckeb commented on #76
Thank you for the update @Driky!

[2020-02-26 10:47] dancon opened #77 "Not work with less and webpack when I choose webpack resolvers in less-loader"
----------- Update 2020-03-16 -----------
I have fixed the issue by writing a [`less-plugin-aliases`](https://www.npmjs.com/package/less-plugin-aliases) that work with `typescript-plugin-css-modules` `customRenderer`, you just modify the config as below:

[code]
You can use the `less-plugin-aliases` now, it works well in my project.

The plugin will read the `tsconfig.json` default to get the comp

[2020-02-27 09:29] mrmckeb commented on #77
Hi @dancon, thanks for reporting this.

Can you please provide a small reproduction? I will then take a look and try to resolve this by the end of the weekend!

[2020-02-28 09:06] mrmckeb commented on #64
@hellocontrol-bng, we've merged the work by @joeljeske and you can now use a (renamed) `customTemplate` to define output - and in the simplest case, you can add eslint-ignore to files.

Let us know if this does/doesn't help!

[2020-03-04 18:21] mfpopa commented on #77
Firstly, thanks @mrmckeb for creating and maintaining this. It is a much better solution than the plugins/loaders/solutions that create `.d.ts` files next to each CSS/SCSS file.

Secondly, I have the same problem I think. I have looked at the #26 #54 which looked like they were supposed to solve my problem, but they don't, unless I am doing something wrong.

Below is my config. Note that `./client

[2020-03-05 06:27] dancon commented on #77
@mrmckeb  I'm so sorry for replying late, here is the [reproduction repo](https://github.com/dancon/ts-plugin-css-module), thank you for your greate job !

[2020-03-05 10:41] mfpopa opened #78 "Plugin fails when using an webpack aliases and TS paths to @import other scss files inside scss modules"
**Describe the bug**
The plugin does not work when the seem to work with webpack aliases and TS paths.

Relative paths work fine, namely if I convert from `alias/my-styles.scss` to `../../styles/my-styles.scss` the plugin works fine.

I have looked at the #26 #54 which looked like they were supposed to solve my problem, but they don't, unless I am doing something wrong.

Below is my config. Note t

[2020-03-09 13:02] mrmckeb commented on #78
Hi @mfpopa, thanks for raising this.

Have you tried passing renderer options for Sass? https://github.com/mrmckeb/typescript-plugin-css-modules#rendereroptions

That should allow you to customise the behaviour of the Sass renderer to match what you need.

There isn't a lot of information available from Microsoft on how to do this, but you can add logs - see:
https://github.com/microsoft/TypeScrip

[2020-03-09 13:03] mrmckeb commented on #64
I'm closing this off, but feel free to reopen in future if needed.

[2020-03-09 13:03] #64 closed

[2020-03-09 13:16] mrmckeb commented on #77
Thanks @mfpopa.

Hi @dancon, this is not supported by Less natively, it's a feature of the loader. So the only way to make this work is to manually normalise the path based on the TS paths or something similar.

Would you like to try implementing that? If not, I can try over the weekend.

[2020-03-09 13:18] mrmckeb commented on #78
This may also be related to #77, @mfpopa, but thanks for providing a great amount of info. If you can supply a small repro repo I can probably knock both out on the upcoming weekend :)

[2020-03-10 05:44] dancon commented on #77
@mrmckeb  Yes, I know  why it doesn't work, and I'd love to fix it, but maybe by this weekend.

[2020-03-15 06:41] dancon commented on #77
@mrmckeb Hi,   I'm trying to add the feature support by writing a less plugin, please note that ~

[2020-03-17 18:45] jsphstls commented on #74
I was dealing with a similar issue. My mistake was trying to set this up while combining CSS modules and Typescript for the first time. I also wrongly thought that this plugin was necessary for that to work.

Despite having the correct CRA version my CSS modules could not be found unless I added the `d.ts` file as suggested [here](https://github.com/mrmckeb/typescript-plugin-css-modules#custom-def

[2020-03-26 09:28] mrmckeb commented on #74
Thanks for sharing @jsphstls!

[2020-03-27 09:35] la99er opened #81 "Classnames support"
**Describe the solution you'd like**
I really like your plugin! It's awesome. I just had the issue, that I'm using `classnames` in combination with the `classnames-loader` within webpack. Thus I can do something like this in my component files:
[code]
For more details, see: https://github.com/itsmepetrov/classnames-loader and https://github.com/JedWatson/classnames
So currently, I just get the err

[2020-03-31 07:31] mrmckeb commented on #81
Hello @la99er, I definitely know that package - it's very cool.

This is interesting, I've never used the Webpack loader... but I see the issue.

We introduced a feature recently where you could provide your own template to solve problems like this. https://github.com/mrmckeb/typescript-plugin-css-modules#customtemplate

I can help you do that if you create a small repro-repo for me to play with.

[2020-04-01 20:22] kozlovvski commented on #77
+1, this feature would be also awesome in sass/scss. I use CRA with `sass-loader` and `baseUrl: "src/"` in `tsconfig.json`, so later I can import variables in any scss file like this:

[code]
 By the way, thanks for this great package, it really makes me not pull out hairs from my head while working. It would be nice to see this kind of feature implemented in Typescript by default in the future.

[2020-04-03 15:55] la99er commented on #81
Thanks for the response! Yes I saw the option with the custom template and thought about that too.
Sounds interesting to me! Never contributed to an open source project, so maybe I'll check if I can make a PR for that this weekend :)

[2020-04-17 02:36] evankennedy opened #82 "Plugin fails when importing using absolute tilde imports inside an imported SCSS module file"
**Describe the bug**
Inside an SCSS file you've imported from a TS file, if you import a global SCSS file using `~src/...`, the import works, but if that global imported SCSS file imports another global SCSS file, that second import will fail. I know a relative import would work, but in my use case the files are actually pretty far apart.

**To Reproduce**

Repo here with existing issue: https://g

[2020-04-22 15:57] mfpopa commented on #78
@mrmckeb I have been super busy in the last few weeks, so I did not have a chance to create a test repo.

However, this is no longer necessary because for some reason the issue does not exist any longer. I have made hundreds of changes to the codebase since I reported the issue, so I am not sure what the problem was and what fixed it. I am closing the issue.

[2020-04-22 15:57] #78 closed

[2020-04-27 07:32] mrmckeb commented on #78
Thanks for the update, that's great news!

[2020-04-27 08:11] mrmckeb commented on #82
Hi @evankennedy, thanks for taking the time to raise this.

From my understanding, the `tilde` is meant for imports from `node_modules`, not from other directories - which is working right now. It's also something that is not supported by Sass itself, but instead the loader for Webpack (as I understand). This could be why Sass is failing - this error is definitely coming from Sass, and not from th

[2020-04-27 08:16] mrmckeb commented on #77
I'll release this today, thanks!

[2020-04-27 08:18] mrmckeb commented on #81
@la99er let me know if you're still interested in picking this up - if not, I'll close off.

Don't worry, I know life gets in the way sometimes, so no pressure!

[2020-04-27 08:40] mrmckeb commented on #75
Hi @kirillvy, sorry for the very slow reply.

This needs to be provided by the user, via a PostCSS config. You can see how we set that in our tests here - we use `postcss-import-sync2`.
https://github.com/mrmckeb/typescript-plugin-css-modules/blob/develop/src/helpers/__tests__/getDtsSnapshot.test.ts#L34

You can see how to set options here:
https://github.com/mrmckeb/typescript-plugin-css-modules#

[2020-04-27 08:40] #75 closed

[2020-04-27 09:27] mrmckeb commented on #77
This has been released, sorry for the long delay.

[2020-04-27 09:27] #77 closed

[2020-04-27 17:51] max-mykhailenko opened #84 "Need advice. Doesn't work with ts-node"
**Describe the bug**
Problem is when I tried to compile application for my node I want to use same CSS modules as I'll use in the browser, but on compile stage I got an error
[code]

**To Reproduce**
Steps to reproduce the behavior:
Try to run your ts file with import with ts-node.

**Expected behavior**
Got the same css classes in via tsc

[2020-04-28 08:22] mrmckeb commented on #84
Hi @max-mykhailenko, this plugin can only help IDEs understand CSS imports. TypeScript doesn't allow plugins to transform code at this stage... although there are open issues about that.

To use CSS modules in Node for SSR, you'll need to use a Babel plugin for CSS modules or Webpack to process the CSS file. There are some articles on Medium that detail how to do this, like [this one](https://code

[2020-04-28 08:22] #84 closed

[2020-04-28 12:51] max-mykhailenko commented on #84
@mrmckeb thank you for your fast response, for me it was not so obviously (from babel perspective). Maybe you know how I can ignore css import with typescript (ts-node)? Want to just skip that import, but can't.

[2020-04-29 06:45] mrmckeb commented on #84
Hi @max-mykhailenko, I think you'll definitely need to use either Babel or Webpack here - I don't think you'll be able to do this with Node in any other way.

You can use Babel with Node (without `ts-node`) as an alternative way to run your project, and then add a Babel plugin for CSS modules. This works well, I've done it before.

You could also look at something like Next.js which will do this f

[2020-05-03 18:03] mfpopa commented on #78
Just wanted to note that I found out what the issue was. It looks like the plugin does not care about the `paths` defined in `tsconfig.json` when importing an SCSS module into SCSS module.

[code]

When my SCSS file does an import like this `@import 'src/styles/variables.scss';`, the plugin fails. Note that `src` is defined as a path in tsconfig (see above) to map to the actual folder `my-source-c

[2020-05-04 07:29] mrmckeb commented on #78
Thanks @mfpopa, it's hard to get this right as everyone has the ability to completely customise this behaviour. This is why we're trying to lean on configuration over "defaults".

If you ever get some time and want to raise a PR, we'd welcome that.

[2020-05-06 12:55] zanona opened #85 "tslint complains about not using default exported name"
I use `typescript-tslint-plugin` and I am trying to import my modules as `styles` as follow:

[code]

However, tslint complains with:

    Expected import 'styles' to match the default export 'classes'. (match-default-export-name)

I think that's strange because my `styles/index.d.ts` files has the below, which doesn't seem to be taken into consideration.

[code]

I also tried the `customTemplate.

[2020-05-07 06:37] mrmckeb commented on #85
Hi @zanona, thanks for raising this.

I assume the issue is that you are adding the `dts` to your template... can you try removing it, or modifying it? It would still include `classes`.

Also, I would recommend moving away from TSLint, as it is deprecated (see: https://github.com/palantir/tslint/blob/master/README.md). ESLint works really well with TS - I use it on all of my projects, including th

[2020-05-08 08:58] zanona commented on #85
Thanks for much for the suggestion, @mrmckeb.
It has worked with the following, indeed.

[code]

[2020-05-08 08:58] #85 closed

[2020-05-18 12:16] StevenLangbroek opened #86 "[Jest]: Import of styles yield empty object?"
**Describe the bug**
We're using `@babel/preset-typescript` and `jest` (using `babel-jest`). My `style` imports yield empty objects, leading to snapshot tests failing.

I'm unsure how to pin down exactly what's causing this so what further info to provide
**To Reproduce**

[code]

[code]

[code]

**Expected behavior**
- An object containing key/values for every classname should be logged

What mor

[2020-05-18 14:29] mrmckeb commented on #86
Hi @StevenLangbroek, this plugin only works within IDE environments. This is a limitation of TypeScript, as plugins aren't loaded during builds.

This is unfortunate, and as soon as TypeScript does support this, we'll be sure to add whatever is needed.

You can read more about that here:
https://github.com/microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin#whats-a-language-service-plugin

[2020-05-18 14:33] StevenLangbroek commented on #86
Fixed by using https://www.npmjs.com/package/jest-css-modules-transform. If you feel it's worth documenting I can add a line to README.

[2020-05-18 14:35] StevenLangbroek commented on #86
Oh wow thanks for the thoughtful response 🙇 . Yeah that was exactly the issue. Let me know if you want me to write this into README..

[2020-05-19 05:50] mrmckeb commented on #86
NP! I'll make an update in the next few days, that's a great idea - thanks ;)

And glad I could help.

[2020-05-19 05:50] #86 closed

[2020-05-20 16:48] abeMedia commented on #82
@mrmckeb how about just adding an example to the README on how this can be achieved using either rendererOptions or an importer?
I think it's quite a common thing to use tilde imports in SCSS files.

[2020-05-23 23:15] polaroidkidd opened #87 "module has no exported member"
**Praise for the Project**
I've been looking around for a while seeing if there's any solid solutions to having scss modules typed and came across your project. It's fantastic!

**Describe the bug**
I'm not sure if I configured the plugin correctly, if I'm missusing it or if I'm expecting something from it which it doesn't solve. Basically, I'm using nested scss classes and want to use named impor

[2020-05-25 07:47] mrmckeb commented on #87
Hi @polaroidkidd, thanks for the feedback!

I see that you bootstrapped this project with `create-react-app` and ejected. Can I ask why? I'm interested because I'm also on the Create React App team and we always encourage people to reject only as a last resort. Without ejecting, this plugin will work fine with CRA.

Due to limitations in TypeScript, this plugin is designed to give you errors in yo

[2020-05-25 07:47] #87 closed

[2020-05-25 07:53] mrmckeb commented on #82
Thanks @abeMedia, I'd love a pull request if you'd be interested in putting that together?

[2020-05-25 07:53] #82 closed

[2020-05-25 13:37] la99er commented on #81
I'm still interested in this feature, but I had some problems at the beginning with understanding how typescript plugins work. Then I somehow forgot about this issue and since then I use `// @ts-ginore` which really doesn't make me happy at all :D
I'm not sure if I find time for implementing this feature and get my head into typescript plugin implementation. But when I have time for it, I'll try t

[2020-05-27 08:47] mrmckeb commented on #81
No problem! I'll leave this open for now ;)

[2020-06-02 08:40] polaroidkidd commented on #87
I've been meaning to get back to you with this, but life got in the way. Sorry for the wait.

As to why I ejected, I wanted to learn more about webpack and bundling so I took it as a learning opportunity.  The configurations for the css/scss are in the `build-utils/webpack/development.webpack.ts` files.

That's a real shame.

Thanks for looking into it though!

[2020-06-03 08:16] mrmckeb commented on #87
No problem - and good that you wanted to learn more about Webpack. Just keep in mind that ejecting is a one-way operation, and you'll miss updates when we roll them out.

Have fun!

[2020-06-05 17:36] yepninja opened #89 "Import with query"
**Is your feature request related to a problem? Please describe.**
Can imoprt css with query:
[code]

**Describe the solution you'd like**
Ignore query in import

**Describe alternatives you've considered**
`customMatcher` option is not enough. Typescript can't resolve file with query

[2020-06-06 13:08] mrmckeb commented on #89
Hi @yepninja, this is not something we've tested for - we try to cover the most common methods of working with CSS modules, and this is not an approach I've come across before.

As far as I can tell, TypeScript won't resolve this file as it strictly looks for a that has the extension `.css?module`. We don't currently modify how TypeScript loads files, only how it processes them.

My best advice at

[2020-06-13 18:19] yepninja commented on #89
Unfortunately you are right. Typescript doesn't support module resolver.

It's related to https://github.com/microsoft/TypeScript/issues/18896 and https://github.com/microsoft/TypeScript/issues/38094

[2020-06-13 20:06] memark commented on #27
@mrmckeb This is of course unfortunate (and not your fault). I think it would be very helpful to document this limitation in the README. I just spent a lot of time trying to get this plugin working at build time. :/

[2020-06-14 15:40] mrmckeb commented on #27
Thanks for the feedback @memark, I recently added this to the README:
https://github.com/mrmckeb/typescript-plugin-css-modules#about-this-plugin

Does that cover it?

[2020-06-14 15:45] mrmckeb commented on #89
OK, I'll close this off for now - but feel free to repoen/raise this again if things change :) Sorry you hit this, I wish there was a simple solution.

[2020-06-14 15:45] #89 closed

[2020-06-14 16:08] memark commented on #27
That looks great, thanks! @mrmckeb

[2020-06-19 23:08] abeMedia commented on #82
Sure thing. Should have time to do this next week.

[2020-06-24 04:12] jrr opened #90 "Guidance re: command-line usage?"
I understand that typescript-plugin-css-modules is a _language service_ plugin that can't take effect at tsc compile time. The VS Code experience is great, but limited in that it's only able to show me squiggles in open files.

What I'd really like is, some way to analyze _all my code_ in one go from the command line, so I could do this in CI in lieu of checking at tsc time.

Is there some way to

[2020-06-24 07:15] mrmckeb commented on #90
Hi @jrr, I know this is possible, but I personally didn't go down this path.

There is a project called [`ttypescript`](https://github.com/cevek/ttypescript) that has a concept of transforms, but the CSS modules support they have is limited ([reference](https://github.com/longlho/ts-transform-css-modules)).

Another option is to use one of loaders ([example](https://www.npmjs.com/package/typings-f

[2020-06-24 07:15] #90 closed

[2020-06-25 18:30] irrvrsl commented on #70
Hello, @mrmckeb ! I have this issue as well. I've tried with your advice to include path in "paths", but typescript still complains. Please checkout screenshots below. Perhaps I've missed something. Thanks!

![image](https://user-images.githubusercontent.com/10095366/85777436-71504800-b743-11ea-865a-658a08a36ccf.png)

![image](https://user-images.githubusercontent.com/10095366/85778124-10753f80-b7

[2020-06-26 06:13] irrvrsl opened #92 "[Less]: Fail when importing styles from node_modules"
**Describe the bug**
Plugin fails when I'm trying to import `.less` styles from `node_modules` both with relative and absolute paths.

**To Reproduce**
Steps to reproduce the behavior:

1. Create `style.module.less` file
2. Import style from `node_modules`
3. Make `import style from './style.module.less'` in component
3. See error `Property 'container' does not exist on type '{}'`

**Expected beha

[2020-06-28 09:21] KostkaBrukowa commented on #92
Hello, I have the same problem and I'm also using `AntD` library

[2020-06-29 11:14] mrmckeb commented on #92
Hi there,

Unfortunately this is actually a feature of Webpack/the loader, and not Less - which is why it doesn't work automatically.

To help with this, we allow for custom renderers or to pass options through to Less (if that helps).
https://github.com/mrmckeb/typescript-plugin-css-modules#customrenderer

We recently had a contribution that added support for this custom renderer - which should s

[2020-06-30 07:45] KostkaBrukowa commented on #92
I've tried it with a lot of different configurations and still couldn't make it work.
As far as I know plugin `less-plugin-aliases` just allows using `~` in import statement and replaces it with different directory. But without this plugin this snippet:
[code]
should work, but it doesn't for me.

[2020-07-01 07:27] mrmckeb commented on #92
Hi @KostkaBrukowa, I think it would only work if that file wasn't also using `~` imports - can you confirm that it isn't?

[2020-07-01 13:04] KostkaBrukowa commented on #92
I think there is no `~` imports in the file i'm importing. If you want to see for yourself I'm importing this file https://github.com/ant-design/ant-design/blob/master/components/style/dark.less and it's only importing from relative paths. I would also want to mention that by simply importing this file error occurs i don't even need to use any of the variables defined in the imported file.

[2020-07-01 14:44] irrvrsl commented on #92
@mrmckeb Even with `less-plugin-aliases` same behavoir

This is what I found at `tsserver.log`, maybe it will be helpful

[code]

![image](https://user-images.githubusercontent.com/10095366/86256378-15ba0a80-bbda-11ea-8543-45695c0cfad7.png)
![image](https://user-images.githubusercontent.com/10095366/86256398-1bafeb80-bbda-11ea-95c7-47ae39e481ac.png)
![image](https://user-images.githubusercontent.c

[2020-07-01 18:57] KostkaBrukowa commented on #92
I guess that it is something with the antd less file that I'm importing, because i've created the file `test.less` in the same directory that `theme.less` is and importing works fine despite being in `node_modules` folder

[2020-07-02 08:09] mrmckeb commented on #92
Thanks for that info @KostkaBrukowa and @irrvrsl.  I haven't worked with Less for a while, but I'm assuming this has something to do with the aliases Ant Design are using inside of their project...

Hi @dancon, maybe you have some thoughts on this?

Again, the _root_ cause of this is that the aliases themselves aren't actually supported by Less directly, which is what this project relies on.

Anot

[2020-07-03 04:48] irrvrsl commented on #92
Hello, @mrmckeb @KostkaBrukowa! I've got this thing work! After digging in `tsserver.log` I've found next error `[typescript-plugin-css-modules] Failed SyntaxError: Inline JavaScript is not enabled. Is it set in your options?`. So I set that option to `typescript-plugin-css-modules`:

[code]

@KostkaBrukowa please try this and give feedback

[2020-07-03 06:00] KostkaBrukowa commented on #92
Hi @irrvrsl. Holy moly it works perfectly! Thanks you guys very much.

[2020-07-03 06:41] irrvrsl commented on #92
Glad to hear that, I'm closing this issue. @mrmckeb thank you for this plugin and help👍

[2020-07-03 06:41] #92 closed

[2020-07-07 07:38] mrmckeb commented on #92
Great news, thanks for the investigation!

[2020-07-18 08:47] krutoo opened #94 "What i am doing wrong?"
Hi, i trying to use this plugin but i have some problems.

In my React project with **js/ts/jsx/tsx** files bundled by `webpack` with `ts-loader` i have error message in typescript log (in VS Code) and i do not have autocomplete for `scss` module default import properties.

I have installed plugin like this:
[code]

my `tsconfig.json` looks like this:
[code]

I added `module.d.ts` file to root dir

[2020-07-19 14:30] mrmckeb commented on #94
Hi @krutoo, the error indicates that it's trying to load the plugin from `/node_modules/node_modules`, and not relative to your project.

To check, have you set your workspace version of TypeScript as detailed here?
https://github.com/mrmckeb/typescript-plugin-css-modules#recommended-usage

[2020-07-20 04:01] krutoo commented on #94
@mrmckeb In `.vscode/settings.json` i have this config:
[code]

But i dont have command **TypeScript: Select TypeScript Version**

[2020-07-21 04:03] krutoo commented on #94
it looks like the option is just not being output in command palette when file is not have `.js/.ts` extension,
i found its option and its fully worked for me

i think issue can be closed

[2020-07-21 04:03] #94 closed

[2020-07-21 09:48] mariusGundersen opened #95 "Not updating when new classes are added"
**Describe the bug**
When I first import a css module in my tsx file it lists the classes that are in the css file. But when I add a new class to the css module file they do not show up in the ts intellisense. In other words, it seems like the classes are cached and the cache is not updated when the css file is edited and saved.

[2020-07-22 07:56] mrmckeb commented on #94
Thanks for the update @krutoo!

[2020-07-22 16:55] boformer commented on #95
It seems to take up to 15 seconds on my machine

[2020-07-25 18:39] michael-swarm commented on #95
I'm having the same issue, but it never updates in my case, even after a restart of VS Code. The error says `Property 'myClassName' does not exist on type '{}'`, even when the file has multiple classes in it (including the one I'm referencing).

[2020-07-25 18:43] michael-swarm commented on #34
I just wanted to add a note here that I managed to get this working as expected in VS Code by installing the [CSS Modules extension](https://marketplace.visualstudio.com/items?itemName=clinyong.vscode-css-modules).

[2020-07-27 07:42] mrmckeb commented on #34
@michael-swarm if you're using that extension, I'd recommend not using this plugin. Both are doing the same thing, as you mentioned.

This is something that's fixable... but not for all cases. It's mostly that I haven't had the time to spend on it sorry - but we always welcome PRs.

[2020-07-27 07:46] mrmckeb commented on #95
Hi @mariusGundersen - can you confirm that as @boformer indicated, this is showing up later?

This plugin relies on TypeScript to watch file changes, so this might be a hard issue to solve. But any additional help could be much appreciated.

[2020-07-27 21:42] mariusGundersen commented on #95
No, it does not show up later, not as far as I can tell.

[2020-07-28 14:12] fgblomqvist opened #96 "Additional configuration needed in IntelliJ IDEs?"
I came here looking for a way to improve the CSS modules experience, since it seems a bit subpar in the typescript world. Back a few years ago, I was working on a css/js-only project and we would get compile-time errors (and in IDE of course) if you used a non-existant class. On top of that, you could also get errors if you had unused classes. Very nice. Now, I understand the compile-time limitati

[2020-07-28 14:16] fgblomqvist commented on #96
Actually, I don't get the type definitions that you see when I hover over my `styles` or over a certain class, so something isn't correct with the config.

[2020-07-30 19:21] ekilah opened #97 "Lots of errors produced in WebStorm IDE with this plugin"
**Describe the bug**
When including this plugin in my `tsconfig.json`, the Intellij WebStorm IDE reports hundreds of errors that look like this:
```Error:(54, 33) TS1155: 'const' declarations must be initialized.```
![image](https://user-images.githubusercontent.com/3213339/88964049-a299c780-d25d-11ea-944e-c3e0228e2686.png)

When I remove this plugin, these errors go away.

**To Reproduce**
Steps

[2020-07-30 19:22] ekilah commented on #96
Somewhat unrelated, but there are some issues I'm experiencing with this plugin in WebStorm, xposting here.  https://github.com/mrmckeb/typescript-plugin-css-modules/issues/97

[2020-08-01 12:42] PindaPixel commented on #94
To add to this, I had the same issue as described here. I had a configuration issue in my vscode settings, `"typescript.tsdk"` was set to `"node_modules\\typescript\\lib"` rather than `"./node_modules/typescript/lib"` which fixed the loading issue for me. Additionally, installing from npm with -D did not install dev dependencies for this package, --save-dev did.

[2020-08-03 11:38] jens-duttke opened #98 "Consider TS path aliases for Sass"
In my `tsconfig.json` I have aliases for specific paths:

[code]

In my WebPack configuration I'm using the same configuration to make Webpack and it's plugins aware of these aliases.

Unfortunately, if I have an `@import` on such an alias, the `typescript-plugin-css-module` fails to get the class names.

e.g. a styles.module.scss:
[code]
In that case, it does not resolve the alias for "@scss/_cus

[2020-08-05 11:03] mrmckeb commented on #98
Hi @jens-duttke, I think we could add support for this. Would you be interested in raising a PR for it?

[2020-08-05 11:10] mrmckeb commented on #96
Thanks for raising this @fgblomqvist, and thanks for the feedback. The plugin will give IDE-only errors for missing classes, so you won't see them during build (a limitation of the TypeScript Language Service).

This could be an issue with IntelliJ IDEs as posted by @ekilah... The contributors are all on VSCode, so this isn't something we've tested yet sorry.

@fgblomqvist, if you can provide a sm

[2020-08-05 11:13] mrmckeb commented on #97
I was just thinking about wha could cause this and it might be to do with this:
https://github.com/mrmckeb/typescript-plugin-css-modules/blob/f9af73d1abe2bb3bca01310eb659c942bea9fbfb/src/helpers/createExports.ts#L42-L44

It seems to be only occurring in IntelliJ editors, so it might be to do with the way they use (or don't use) the TypeScript Language Service.

As a quick test, could you edit the

[2020-08-05 11:31] mrmckeb commented on #95
Are you able to provide a reproduction, even something very simple, @mariusGundersen? I can look this weekend and try to resolve then :)

[2020-08-06 23:46] dcapo commented on #70
Is there any new guidance on how to handle this? I'm running into the same issue but the nested import is made by an npm dependency, so I can't simply remove the tilde.

[2020-08-08 13:01] fgblomqvist commented on #96
Thanks for getting back to me. I probably won't be able to get around to this until Monday/Tuesday, but I'll investigate further then for sure!

[2020-08-09 18:12] mrmckeb commented on #96
Thank you :) let me know how you go.

[2020-08-09 18:15] mrmckeb commented on #70
@dcapo it's a tricky one, because this plugin actually hands all of that work over to the appropriate renderer (Sass, Less, etc.), meaning that there's no opportunity to modify anything other than the imported file.

One of our contributors built this, maybe it will help? It provides a custom renderer to this plugin, that should resolve imports like this.
https://github.com/dancon/less-plugin-alia

[2020-08-10 19:23] ekilah commented on #97
@mrmckeb Sorry it took so long to try this out, been busy!

Yes, that change does seem to fix the issue! It's annoying to test because it seems like I have to quit/restart Webstorm for it to decide to consume the changes in my `package.json` 😛 , but I confirmed the hundreds of errors disappeared with this change.

Added that to a PR: https://github.com/mrmckeb/typescript-plugin-css-modules/pull/10

[2020-08-10 22:27] fgblomqvist commented on #96
Started looking at this again. Turns out IntelliJ does _not_ provide autocompletion by default. I think there's some delay/cache issue when installing/uninstalling this plugin, which is why I saw autocompletion even after I uninstalled it last time.

IntelliJ provides this oob:
* If you type `styles.x` and x is declared in the CSS file, you can use "Go to definition" to go to it
  * If x is not de

[2020-08-11 14:20] fgblomqvist commented on #96
Couldn't get the recommended TSS_LOG variable to work but remembered that there's a TypeScript tab/window in IntelliJ (usually sits at the bottom left besides Debug/TODO etc.). That one had a log of what was going on. Turns out that my IntelliJ couldn't properly find the plugin yesterday (we use lerna and it seems like you have to put the plugin the same package that the typescript is coming from,

[2020-08-11 14:39] fgblomqvist commented on #96
Found the relevant bugs:
https://youtrack.jetbrains.com/issue/WEB-38105    <- Don't assume `camelCaseOnly` setting
https://youtrack.jetbrains.com/issue/WEB-41304    <- Make use of the types generated by this plugin (sorta)

[2020-08-13 15:41] JonathanLorimer commented on #94
I am getting this error as well. The paths that `typescript-plugin-css-modules` are trying to resolve are a bit strange:
[code]

I have this in a `.vscode/settings.json` file:
[code]
but it still isn't resolving correctly. Is there anyway I can just point the plugin at my node_modules folder manually?

[2020-08-21 04:45] ekilah opened #101 "Support TS 4.0+"
Pretty simple, the `package.json` should support TS 4.0 which was just released. I would submit a PR to make the change, but I'm not sure what you'd prefer to use, e.g. `^3.0.0 || ^4.0.0` would work, or `>= 3.0.0`. Depends on your preferences I guess.

(TS doesn't use semantic versioning, so `3.9 -> 4.0` is no different than `3.9 -> 3.10` to them.)

[2020-08-21 20:13] alecf opened #102 "Stop including `sass` and `less` as dependencies"
**Is your feature request related to a problem? Please describe.**

Right now both `sass` and `less` are direct dependencies of this project, which seem unnecessary. This bloats up the install and if you were already using `node-sass`, it messes with the `css-loader` configuration, switching your sass implementation (which happens to not be compatible with blueprint)

There is a workaround to fix

[2020-08-27 11:50] bluef1ash commented on #98
Hi @mrmckeb, can you support this feature as soon as possible? So much needed!

[2020-09-12 13:57] mrmckeb commented on #94
Thanks @PindaPixel, I assume you're on Windows and not using WSL? That would make sense.

@JonathanLorimer that error indicates that your path is wrong for the plugin, perhaps... can you share a reproduction and raise a new issue? I can then investigate.

Sorry for the long delay in replying, I've been away.

[2020-09-12 13:58] mrmckeb commented on #101
I'll make this fix today, sorry for not getting onto this sooner, I've been away.

[2020-09-12 14:05] mrmckeb commented on #102
Hi @alecf, I agree with you - and I assure you that we're doing our best to keep this package lightweight.

Unfortunately, adding them to `optionalDependencies` would still cause NPM to install them (however, it'll continue to install other dependencies if they fail to install for some reason). So this wouldn't solve the problem.

We could make the other dependencies `peerDependencies`, but the us

[2020-09-12 14:06] mrmckeb commented on #98
Hi @bluef1ash, I'm 100% in favour of supporting this - but I don't personally have the time to add this feature in right now. If someone can pick this up and create a PR, I would be happy to help get it out quickly :)

[2020-09-12 14:12] mrmckeb commented on #97
Thanks @ekilah, I've replied to the PR.

[2020-09-12 14:22] mrmckeb commented on #96
Thanks for the updates @fgblomqvist, and sorry for the slow reply - I've been away and didn't get back to this as soon as I had planned.

I'm glad that you have it mostly resolved now. I'd love some help resolving any of the remaining issues, if you feel you have the time to contribute.

I think global classes might be harder to solve, as this plugin traverses imported files, and it wouldn't be ab

[2020-09-12 14:45] mrmckeb commented on #101
This is now released. Thanks again for raising this.
https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v2.5.0

[2020-09-12 14:45] #101 closed

[2020-09-12 18:37] ekilah commented on #101
thanks!

[2020-09-12 19:20] ekilah commented on #96
@fgblomqvist can you show screenshots of the plugin working in your JetBrains editor, so I can see more about what it adds for you? I haven't seen this plugin add anything to the default behavior already present in WebStorm yet. I know what it does for my coworkers in VSCode, though.

Regarding your workaround / fix to get things going:

I'm not sure what package you're referring to or what you ch

[2020-09-13 13:25] #97 closed

[2020-09-14 20:09] ekilah commented on #97
Hm, I tried the beta today and I get the same errors. I realize the reason the errors were gone when using my patch was probably because I was using the following in `package.json`: `"typescript-plugin-css-modules": "https://github.com/ekilah/typescript-plugin-css-modules#patch-2",`

That doesn't get 'built', so the directory in `node_modules` only has TS files. Maybe this was just preventing the

[2020-09-16 07:13] mrmckeb commented on #97
You can also install _locally_ by using something like `yarn add file:../../path/to/module` and it works. Or you can try Yarn/npm link.

I assume you're right, it wasn't running at all.

What is the error you're seeing now @ekilah?

[2020-09-16 07:15] ekilah commented on #97
The same error as the original post, with or without my patch and with or without your beta, unfortunately

[2020-09-16 07:26] mrmckeb commented on #97
Hi @ekilah, there was another place where const was used. Can you try `2.6.0-beta.1` and let me know if that works for you?

[2020-09-16 07:26] ekilah commented on #97
Sure, will do tomorrow.

[2020-09-16 20:36] ChristopherHaws commented on #97
Just as an FYI, I am also having this issue in Visual Studio 2019.
![image](https://user-images.githubusercontent.com/5934505/93389831-983d8800-f821-11ea-9d28-d362da272272.png)

[2020-09-16 21:27] ChristopherHaws commented on #97
After updating to the latest beta, the 'const' errors did go away, but they were replaced with:
![image](https://user-images.githubusercontent.com/5934505/93394197-acd14e80-f828-11ea-8942-92dbbcf48cb3.png)

[2020-09-16 21:40] ekilah commented on #97
Same here. Glad to hear this is reproducible in a more-widely available IDE!

[2020-09-17 22:12] JonathanLorimer commented on #94
@mrmckeb I am not sure if this helps, commenting for posterity, or anyone else who comes across this issue.

Upgrading the library, deleting node_modules, re-installing, re-starting vscode seemed to fix this issue!

Thank you.

[2020-09-18 15:09] mrmckeb commented on #94
Thanks for sharing!

[2020-09-18 15:38] mrmckeb commented on #97
Thanks for that.

Can you please try `v2.7.0`? I think it will solve the issue finally... I hope so!

[2020-09-18 16:06] ekilah commented on #97
![image](https://user-images.githubusercontent.com/3213339/93619847-ff784b00-f98d-11ea-8685-99474442b5f5.png)

Seems to work great now in WebStorm. I will say, the editor did seem to take a while to load up the TS service when I added the plugin back in, I wonder how heavy this is.

Also the `readonly`s in the error message are a bit distracting, since they are repeated a lot. Was that a "just for

[2020-09-18 23:39] ChristopherHaws commented on #97
@mrmckeb That fixed it for me in VS 2019. Everything seems to be working now! 👍

[2020-09-20 08:17] mrmckeb commented on #97
@ekilah this seems to be an issue with the CSS now, which is good news. It means that `button` wasn't found in that file... can you share a very small reproduction of the issue?

Thanks for the feedback @ChristopherHaws!

[2020-09-20 08:31] ekilah commented on #97
@mrmckeb there is no issue. I was just showing it working.

[2020-09-21 13:41] fgblomqvist commented on #96
**tl;dr it provides an error message/indicator when you try to use a class that doesn't exist**

Holding Ctrl and hovering over the imported styles gives me a proper type spec:
<img width="160" alt="Screen Shot 2020-09-21 at 9 38 01 AM" src="https://user-images.githubusercontent.com/649260/93773465-2e8cf780-fbee-11ea-890e-d0a9d2b6f82b.png">

Trying to use a class that does not exist gives me an er

[2020-09-21 17:23] ekilah commented on #96
yeah, now that #99 is fixed, I get those too, using TS 4.0.2.
![image](https://user-images.githubusercontent.com/3213339/93799606-39e32180-fbf4-11ea-804f-768e73763bbc.png)
![image](https://user-images.githubusercontent.com/3213339/93799656-49fb0100-fbf4-11ea-9e2a-1b6f309b7d6a.png)
![image](https://user-images.githubusercontent.com/3213339/93799700-5da66780-fbf4-11ea-95c6-98e85f1f18f2.png)

[2020-09-21 19:51] fgblomqvist commented on #96
@mrmckeb Thanks for your response, no worries on the time.

The global classes issue I mentioned is not an actual issue (after thinking about it more). A global class shouldn't be referenced like this: `className={styles.myclass}` but rather `className="myclass"` because after all, they're global.

So yeah, the only remaining issues are strictly related to IntelliJ's implementation and the bugs I

[2020-09-21 19:51] #96 closed

[2020-09-22 08:00] mrmckeb commented on #96
Thanks for the updates everyone!

[2020-09-22 08:01] mrmckeb commented on #97
Thanks for the update!

[2020-10-07 23:27] ayroblu opened #104 "Keyframe support"
**Is your feature request related to a problem? Please describe.**
Hey just wondering if you support keyframes as they're transformed by css-modules too.

[code]

[code]

**Describe the solution you'd like**
Support keyframe syntax

**Describe alternatives you've considered**
`// ts-ignore` ?

or:
[code]

[2020-10-14 08:34] mrmckeb commented on #104
Hi @ayroblu, sorry for the slow response.

In this example, are you trying to import `fadeIn` to a TypeScript file?

I'd be open to a PR to resolve this if you'd be interested in taking a look?

[2020-10-14 09:15] ayroblu commented on #104
Sorry yes, example usage would be:
[code]
current workaround is:
[code]

Sorry forgot to add this!

[2020-10-21 02:51] chrisgbaker commented on #95
@mariusGundersen were you ever able to resolve this? I also believe it is related to relative imports mentioned in #78 and #82, as I need to update my `.scss` imports from `@import('styles/globals/colors.scss')` to `@import('src/styles/globals/colors.scss'` in order for the plugin/ts server to correctly initialize. However, after they do,changes to `.scss` files are not noticed, and in order to pi

[2020-10-21 08:21] mrmckeb commented on #104
Thanks, I'm glad you have a workaround for now.

I'm not sure how best to implement this, but if you'd like to take a look, I definitely think we can add this feature.

[2020-10-21 13:38] ayroblu commented on #104
Sure, when I had a look at the code, I was unsure where the parsing and extracting happens, any pointers?

[2020-10-29 17:52] mellis481 commented on #101
I'm now seeing that there is no type safety when using this library for Typescript 4.0.3. It was working previously with Typescript 3.9.7 and works when I changed the version back to that.  I'm using `typescript-plugin-css-modules@latest`.

[2020-11-02 09:04] #98 closed

[2020-11-16 01:06] gluxon commented on #95
Hey @mrmckeb, thanks for the great plugin.

My coworker and I dug into this and narrowed it down to [`tsserver`'s polling file watch behavior](https://github.com/microsoft/TypeScript/blob/4885dec80d184ef1570ac97739679ca66af7181d/src/tsserver/server.ts#L672-L748). At the moment, `tsserver` polls background files for file modification times in batches of `30` every `2500` milliseconds. **This means

[2020-11-19 08:10] krainboltgreene opened #107 "typescript-eslint doesn't know about the type given from the import"
The rule: https://github.com/typescript-eslint/typescript-eslint/blob/v4.8.1/packages/eslint-plugin/docs/rules/restrict-template-expressions.md

An example:
![Screen Shot 2020-11-19 at 12 10 25 AM](https://user-images.githubusercontent.com/334809/99638790-a06d9b80-29fb-11eb-9b0f-9f9099c04f1d.png)

[2020-11-23 09:45] mrmckeb commented on #104
Hi @ayroblu, sorry for the slow response.

The parsing happens here, which may already return this information:
https://github.com/mrmckeb/typescript-plugin-css-modules/blob/develop/src/helpers/getClasses.ts

Once you have that info, you need to add it to the generated `.d.ts` file:
https://github.com/mrmckeb/typescript-plugin-css-modules/blob/develop/src/helpers/createExports.ts

[2020-11-23 09:47] mrmckeb commented on #107
Hi @krainboltgreene, does your project have a `.d.ts` file as in the `README`?
https://github.com/mrmckeb/typescript-plugin-css-modules#custom-definitions

I think that will solve this issue, but let me know and I can dig further.

[2020-11-23 09:58] mrmckeb commented on #95
Hi @gluxon,

Thanks for the feedback - and for the very detailed/thorough analysis.

And thanks for creating the issue with TypeScript, I've subscribed and will wait for an update.

The TypeScript team have been fairly resistive to add more support for plugins like this so far, instead wanting to spend more time on TypeScript features (which I understand) and they seem concerned about supporting s

[2020-11-23 10:31] krainboltgreene commented on #107
It does! And I have the relevant definitions from the README.

[2020-11-28 10:35] jnsandrew opened #109 "PostCSS exclude option doesn't seem to work"
**Describe the bug**
When setting the `useConfig` setting to `true`, and using the `excludePlugins` option to exclude async plugins, the plugin errors and doesn't show correct types.

**To Reproduce**
1. Set up as per documentation
2. Add `postcss-nested` as a plugin (this works)
3. Add a different plugin e.g. `'postcss-mixins'` or `'postcss-import'` and try to exclude
4. Restart VS Code (this see

[2020-11-29 17:57] mrmckeb commented on #101
Hi @mellis481, are you still having this issue? I've been doing some work today and didn't have any issues with TypeScript 4.x.

[2020-12-24 03:26] atzcl commented on #92
@irrvrsl @KostkaBrukowa refer to this pr to make `less-plugin-aliases` work normally

[2021-01-24 03:34] kyle-laracey opened #111 "Problem when importing scss partials from node_modules"
**Describe the bug**
When an imported SCSS stylesheet imports a partial\* like `@import '~bootstrap/scss/functions';` the node_module resolution for the file fails. This looks like an edge case of #66 and similar to #70.

\* A SCSS partial is basically a file whose basename begins with an underscore, I believe. In this case, the file's basename is actually `_functions.scss`.

**To Reproduce**
I've

[2021-01-24 14:29] mrmckeb commented on #111
Hi @kyle-laracey, can you try the new version (`3.1.0`)?

The PR I just merged/released by @coreymux should have resolved this (#110).

[2021-01-24 14:43] #104 closed

[2021-01-24 14:48] mrmckeb commented on #109
Hi @jnsandrew, I just saw I missed this issue, sorry.

It does seem like your plugins are not being excluded, as you said. The `async` error is the reason the exclude list exists, which is passed into the `filter` plugin.
https://github.com/mrmckeb/typescript-plugin-css-modules/blob/main/src/index.ts#L69

On a side note, it's a technical limitation in the way TypeScript handles plugins like this t

[2021-01-24 14:53] kyle-laracey commented on #111
Thanks, I've confirmed the issue is resolved.

[2021-01-24 14:53] #111 closed

[2021-01-24 14:55] mrmckeb commented on #107
Hi @krainboltgreene, sorry for the long turnaround. Unfortunately I've tried a few ways and can't reproduce this.

This works as expected:
![image](https://user-images.githubusercontent.com/5043083/105634054-e401dd00-5e64-11eb-8fce-b6ac465db37e.png)

Here I get an error as expected:
![image](https://user-images.githubusercontent.com/5043083/105634063-f1b76280-5e64-11eb-8c8a-487ce54c8408.png)

If y

[2021-01-24 14:56] mrmckeb commented on #111
Thanks for the prompt update!

[2021-02-21 20:48] jnsandrew commented on #109
Thanks for getting back to me - to be honest I had forgotten about this myself. I've just been on a bit of an upgrade mission and between upgrades to Webpack 5, PostCSS 8, Typescript 4.1, and (probably) a newer version of this plugin, it seems to have sorted itself out. So will close this.

[2021-02-21 20:48] #109 closed

[2021-02-23 07:59] mrmckeb commented on #109
No problem, and sorry again I took so long - glad everything is solved!

[2021-03-08 04:02] mmanna3 opened #113 "Works fine in compilation, problem with VS Code"
The code compiles OK, but in VS Code the plugin doesn't seem to be working.

![image](https://user-images.githubusercontent.com/23342135/110272503-244a9400-7fa9-11eb-9178-ec3c26bf0523.png)

![image](https://user-images.githubusercontent.com/23342135/110272533-33c9dd00-7fa9-11eb-872c-3b362b0bd0f2.png)

As Microsoft docs said, I add the line
`"typescript.tsdk": "node_modules\\typescript\\lib" `
in m

[2021-03-08 20:30] mmanna3 commented on #113
Also, I tried downgrading the package to version 3.1.0, but the same is still happening.

[2021-03-09 01:35] mmanna3 commented on #113
I couldn't find a way to make it work. So, I uninstalled and I went for this VS Code plugin: https://github.com/clinyong/vscode-css-modules. Sorry for the link, but maybe it helps someone. Thanks anyway.

[2021-03-10 12:22] mrmckeb commented on #113
Hi @mmanna3, this works with Create React App today - we use that project for testing.

If you could share a reproduction in a git repo, I can take a look at it and help to solve :)

[2021-03-10 13:38] mmanna3 commented on #113
Hi!

This is the repo:
https://github.com/mmanna3/BlueServant/tree/typescript-plugin-css-modules

I created a branch named "typescript-plugin-css-modules" and each one of the three last commits are for configuration.

The code is in the "Frontend" folder.

Thanks a lot!

[2021-03-15 09:20] mrmckeb commented on #113
Hi @mmanna3, it looks like this issue is related to this:
https://github.com/mrmckeb/typescript-plugin-css-modules/issues/24

Basically, we don't have native support for basePath, as it's not supported by default in Sass. You just need to change to the below in your `tsconfig.json` and that should be all :)

[code]

[2021-03-15 09:21] mrmckeb commented on #24
For anyone that comes across this issue, you need to set this up in the plugin's settings. Example here:
https://github.com/mrmckeb/typescript-plugin-css-modules/issues/113#issuecomment-799256990

[2021-03-16 01:51] mmanna3 commented on #113
It works! Thank you!

Yes, I think it would be great if at least this information was in the readme. If it was the default behaviour for Sass, even better.

[2021-03-24 05:24] laoqiu233 opened #114 "Files compile fine, but VSCode doesn't autocomplete and shows errors"
**Describe the bug**
I'm using LESS as a preprocessor, I've added an import in a file like this `@import (reference) '../base.module.less'` (also tried without reference tag), and the auto-completion for the classes in this file is gone.
I've read #113 and it still doesn't solve my problem, since the person who created the issue is using sass and I'm using less.

**To Reproduce**
I'm not really su

[2021-03-25 13:33] fgblomqvist opened #115 "stylus is relying on outdated/deprecated deps"
**Describe the bug**
One of the dependencies of this project is using an old version of a dep, which is causing `npm WARN deprecated` to show up on every install.

Namely, `stylus` relies on `css-parse` which has been replaced by just `css`. [There has been a PR](https://github.com/stylus/stylus/pull/2554) up for a few months that fixes it, but it seems like the maintainer of stylus is nowhere to

[2021-03-26 13:43] mellis481 opened #116 "Intellisense in VS Code not working/erroring"
Here is how I've set up `typescript-plugin-css-modules` (version 3.2.0) in my non-CRA project:

[code]

[code]

[code]

[code]

In `MyComponent`, styles are correctly applied for the first `h1`, but:
1. There is no Intellisense to indicate valid classes to use for the `styles` module.
2. It does not error on the second `h1` with the bad class (`styles.asdfasdf`).

Any idea why this isn't working?

[2021-03-26 13:55] mellis481 commented on #116
Oh weird, so I'm using Typescript 4.2.3.  I thought I'd see what happened when I switched to 3.9.9 and now `typescript-plugin-css-modules` works as expected.  I'm now finding a comment I added to this ticket in the past about this same issue that I apparently failed to follow up on (I have some pretty serious Github Outlook files for work :)): https://github.com/mrmckeb/typescript-plugin-css-modul

[2021-04-11 10:02] odc-john opened #118 "postcss nesting only works with '.' as nested class"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

vscode
[code]

tsconfig
[code]

postcss config
[code]

Should be able to styles.TagBar. Only Tag shows
[code]

Using '.' in nested shows styles.Bar
[code]

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise desc

[2021-04-19 12:10] wingsico commented on #114
same problems. need helps...

[2021-04-20 04:09] ichengde commented on #116
[code]

I used the plug-in smoothly. I have solved some minor problems. If you encounter problems, you can check the log. There is a detailed output in the log; open tsserver.log;
There are several key points:
1. Remember to choose the TypeScript version of workspace;
2. Remember to check the plugin options in the plugin, such as customMatcher and rendererOptions;

It is good if you switch to the

[2021-04-22 07:18] mrmckeb commented on #115
Hi @fgblomqvist, sorry for the slow reply.

We use Stylus for processing those files, as we support that alongside Sass, Less, etc.

I was thinking about this today... the best we could do is to make it an optional dependency and import the module only when needed, but TypeScript doesn't work well with asynchronous code in plugins...

I'd be open to other thoughts?

You can see it in use here:
htt

[2021-04-22 07:20] mrmckeb commented on #116
I can confirm this works for in my testing with TS4 as well, if it's OK we'll close this off and reopen if more issues arise?

@ichengde let me know if there's more we can do to improve documentation here :)

[2021-04-22 07:20] #116 closed

[2021-04-22 07:27] mrmckeb commented on #118
Hi there, sorry for the slow reply.

Are you able to supply a reproduction repo? Just something very simple.

I can then take a look and hopefully fix this! I'm not 100% sure why this isn't working right now, but I'll do my best to get to the bottom of it :)

[2021-04-22 07:47] mrmckeb commented on #114
Thanks for the reproduction, @laoqiu233 - it really helped! And, sorry for the very slow reply.

This is a known issue with Less, which can be resolved by adding `(css)`:
[code]

I found the issue here:
https://github.com/less/less.js/issues/3188

I hope that helps!

@wingsico if you still have an issue, please raise a new issue with a small reproduction and I'll take a look ASAP :)

[2021-04-22 07:47] #114 closed

[2021-04-22 07:48] #113 closed

[2021-04-22 07:49] #107 closed

[2021-04-22 15:09] fgblomqvist commented on #115
All good!
[While not super credible](https://github.com/stylus/stylus/issues/2575), it does feel like Stylus has been discontinued (for now). No release/commits in over 9 months, and even before that, it looks like it was mostly in maintenance mode for a year or so. I don't think it would that far-fetched to just drop support for `.styl` files in a 4.0 release.

I don't know how many people actual

[2021-04-22 15:15] fgblomqvist commented on #115
I emailed the last active maintainer of the project to see if I can get a status update. Will let you know.

[2021-04-26 08:48] mrmckeb commented on #115
Thank you! I'll await any updates from you :)

[2021-04-26 10:02] wingsico commented on #114
Ok, the same problems still exist. I will raise a new issue for it.

[2021-04-28 05:05] IanVS commented on #118
It seems that what you're trying to do is not permitted in the css nesting spec.  The nesting selector (`&`) is not as powerful as it is in SASS, as laid out in this comment: https://github.com/w3c/csswg-drafts/issues/2701#issuecomment-395260097.

Also, not that it helps, but I think there's a missing level for `postCssOptions` in your config. I believe it should be:

[code]

[2021-04-28 07:45] mrmckeb commented on #118
Thanks for the help @IanVS - I didn't spot the options error myself, so great pickup!

I'll close this off, as it's very likely the cause. Please reopen if that doesn't help @odc-john!

[2021-04-28 07:45] #118 closed

[2021-04-28 07:46] mrmckeb commented on #114
Thanks @wingsico. This was definitely the fix for the reproduction in this issue, I tested multiple times. When you raise an issue, I can help sort out your issue too!

[2021-05-03 13:53] fgblomqvist commented on #115
Haven't gotten any response yet. Will report back the day (if ever) that I do. Up to you at what point you'd consider it unmaintained :)

[2021-05-04 10:29] Monchi opened #120 "Option to disable named export"
**Is your feature request related to a problem? Please describe.**

Named export that was added via #22 is great. But sometimes the class name conflicts with the component name and disturbs auto-completion.

**Describe the solution you'd like**

Add option to disable named export so the class name wouldn't be shown in auto-completion.

**Describe alternatives you've considered**

No idea.

**Addit

[2021-05-04 10:41] Monchi commented on #120
I can work on this if it sounds good.

[2021-05-04 19:19] pavankjadda opened #121 "Unable to import CSS modules into React TypeScript project"
**Describe the bug**
In my React Typescript project I am trying to use CSS modules. I created the project using **create-react-app**, added TypeScript later. Then I followed the instructions from the [docs](https://github.com/mrmckeb/typescript-plugin-css-modules#installation) to setup CSS modules in the project
1. Added the plugin with `npm install -D typescript-plugin-css-modules`
2. Then update

[2021-05-04 19:36] pavankjadda commented on #121
Never mind, changing the name of the scss file to **header.module.scss** fixed the issue.

[2021-05-04 19:36] #121 closed

[2021-05-06 04:08] wingsico opened #122 "Type derivation fails when using less variables."
**Describe the bug**
Type derivation fails when using less variables.

**To Reproduce**
Steps to reproduce the behavior:

1. Install dependencies & prepare the tsconfig & declare type & use workspace's ts version.
![image](https://user-images.githubusercontent.com/26498668/117239959-5de13380-ae62-11eb-967d-e0afe16c18cc.png)
![image](https://user-images.githubusercontent.com/26498668/117239984-69cc

[2021-05-06 09:40] wingsico commented on #114
A new issue raised here. #122

[2021-05-07 07:24] SageWu commented on #122
same issue

[2021-05-11 07:38] mrmckeb commented on #122
Hi @wingsico, are you able to supply a small reproduction of this issue for me?

[2021-05-11 07:42] mrmckeb commented on #115
I guess we could make this an optional peer dependency, and document that you need to install Stylus yourself for it to work. Alternatively, we could just provide an example of a [custom renderer](https://github.com/mrmckeb/typescript-plugin-css-modules#customRenderer) for Stylus. What do you think @lianapache?

[2021-05-12 05:33] sosoba commented on #95
Hi. Typescript team closes #41549 two monts ago. Did it really help?

[2021-05-12 08:04] wingsico commented on #122
@mrmckeb

Ok, here is the reproduction link: https://github.com/wingsico/typescript-plugin-css-modules-issue

Focus on the `src/App.tsx` and `src/App.m.less`

[2021-05-13 06:52] sosoba commented on #34
Could someone suggest which method of Typescript or LanguageHosts should be ovverided to do mapping the css file line to the .ts line?

[2021-05-19 14:47] gluxon commented on #95
@sosoba The changes from #41549 aren't released on stable yet. It's pending for TypeScript 4.3: https://github.com/microsoft/TypeScript/pull/42542#issuecomment-769409747

At writing the latest version of TypeScript is 4.2.4.

[2021-05-20 21:55] kintz09 commented on #122
I believe I'm experiencing a very similar issue. My project is based on CRA v4, using scss files, and CRACO to fix [this bug](https://github.com/facebook/create-react-app/pull/10511#issuecomment-834273898) with sass exports.

The project compiles just fine like the OP's example, and I get the same empty object for the imported stylesheet.
Module declarations are handled by CRA in this project.

##

[2021-05-21 02:53] lqh-1997 opened #126 "Report error with VS Code"
**Describe the bug**
Same as issue #113 , but I already added the following config in `tsconfig.json`
![image](https://user-images.githubusercontent.com/32805893/119073503-0aedab80-ba20-11eb-9b55-466599d04ae2.png)
If I change scss path to relative path, the VScode will work as expected

**To Reproduce**
https://github.com/lqh-1997/-typescript-plugin-css-modules-issue

**Expected behavior**
A clear

[2021-05-21 08:35] wingsico commented on #122
The bug about importing is similar to this #114 . You can try for it.

[2021-05-21 19:51] kintz09 commented on #122
@wingsico Thank you for pointing me in the right direction! I was able to resolve my issue by reading through issue #114, #113, and #24.

I hadn't realized my import path was non-standard.

I was able to fix the issue just by changing the path but also through this plugin's options:

1.  Changing the import statement in the SCSS file to a relative path fixed the issue:
[code]
2. Leaving the import

[2021-05-22 19:21] applemonkey496 opened #127 "Case insensitive options?"
Would it be possible to have case insensitive configuration options in the plugin configuration in `tsconfig.json`?

Personally, I've already found myself getting the wrong casing on two options (`postcssOptions` and `classNameTransform`) and I don't think it would too difficult to implement. This would also be a non-breaking change.

[2021-05-26 10:33] baranwang opened #128 "when css modules use `:export {}` is not work"
**Describe the bug**
when css modules use `:export {}` is not work

**To Reproduce**
[code]
 it's not work, get `let styles: {}`

**Expected behavior**
[code]

sorry, my English is poor, hope to understand :)

[2021-05-26 10:43] baranwang commented on #128
sorry, its same problem #126

[2021-05-26 10:43] #128 closed

[2021-05-28 20:11] mosesoak opened #129 "Gatsby 3 syntax support"
**Is your feature request related to a problem? Please describe.**

Yes. I'm unable to use your solution with Gatsby 3, which supports:
`import { classOne, classTwo } from './styles.module.scss';`

and supports but doesn't recommend,

`import * as styles from './styles.module.scss';`

but no longer supports:

`import styles from './styles.module.scss';`

At best, after installing the plugin, setti

[2021-05-28 21:27] mosesoak commented on #129
I found a VS Code plugin called [CSS Modules](https://github.com/clinyong/vscode-css-modules) that currently does work to provide code hinting and jump-to-definition. It doesn't support absolute paths, curly-brace module imports, and doesn't show any errors on incorrect class names, but so far it's the closest thing I've found to something that works with `import * as styles` syntax.

[2021-05-29 11:41] mrmckeb commented on #128
Thanks for the updates :)

[2021-05-29 11:46] mrmckeb commented on #127
Hi @applemonkey496, I'm not sure I understand the issue properly sorry. Can you please add a little detail/some example of what you'd like to see?

If we allowed case insensitive classnames, that wouldn't match any real world project configuration - is that what you meant?

[2021-05-29 11:48] mrmckeb commented on #95
If anyone has feedback on this in TS 4.3, please let us know here :)

[2021-05-29 11:50] mrmckeb commented on #34
I'm not 100% sure on that either @sosoba, as I haven't attempted it yet. I assume we'll be able to use sourcemaps here to get the original lines/locations, I'm just not sure how to surface that in the IDE.

[2021-05-29 13:12] mrmckeb commented on #126
Hi @lqh-1997, thanks for raising this.

It looks like this is just a configuration issue - you need to wrap "rendererOptions" in an "options" object.
See: https://github.com/mrmckeb/typescript-plugin-css-modules#options

It should look like this when fixed :)
[code]

Please let me know if you have any more issues!

[2021-05-29 13:12] #126 closed

[2021-05-29 13:30] mrmckeb commented on #129
Hi @mosesoak, thanks for all of the detail above.

I've just tested this locally and can confirm that it does work with the first example, and not the second.

You can see this working in VSCode here:
![image](https://user-images.githubusercontent.com/5043083/120072003-49c3d700-c09a-11eb-8e85-a76a380107ac.png)

Just to clarify, are you saying that you can't use this approach and need to use `* as

[2021-05-29 13:33] mrmckeb commented on #115
Just an update, we still haven't decided what to do about this.

I've upgraded Stylus today, but that isn't going to help much as the project hasn't been updated in a long time as discussed.

[2021-05-29 13:37] fgblomqvist commented on #115
Thanks for the update, hopefully you'll reach a solution sooner or later 🙂

[2021-05-29 13:50] mrmckeb commented on #120
I had originally planned to make this opt-in, and should have - but for now I've added a flag which defaults to `true`. This will be in the next release.

[2021-05-29 14:05] mrmckeb commented on #122
Thanks for this @wingsico, I think I've found the issue.

This fails:
[code]

This works:
[code]

This is because the less rendered doesn't automatically pick up global variables, it processes each file independently.

There are a few solutions:
1. Import files with variables whenever you use them.
1. Define the variables in the `tsconfig.json` - but that's obviously a very bad solution, and not s

[2021-05-29 17:42] Monchi commented on #120
Great, Thanks!

[2021-05-29 18:00] applemonkey496 commented on #127
### tl;dr
If you incorrectly capitalise the name of any configuration option, it still gets parsed properly.
For example, accidentally entering `postcssOptions` will work the same as entering `postCssOptions`.

____

As for how you could implement it, before doing anything else with the configuration object, pass it to a function to parse it.
In this function, for each key in the configuration obj

[2021-05-30 08:48] #120 closed

[2021-05-30 09:02] mrmckeb commented on #127
I understand what you mean now, sorry. I thought you were talking about the classnames themselves and that's why I was confused - as allowing any case would be chaotic for projects.

I understand why this could be confusing for some user for PostCSS particularly, as I can see the arguments for `postcss`, as despite the casing it is one word.

I actually think the bigger issue here is that TypeScri

[2021-05-30 09:15] mrmckeb commented on #120
This is now released as v3.3.0.
https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v3.3.0

[2021-05-30 19:01] applemonkey496 commented on #127
Now that you bring up the tsconfig autocomplete, I think it's worth posting an feature request over on the TypeScript repo.

[2021-05-31 07:44] mrmckeb commented on #127
Thank you, I've also jumped in on. that thread!

[2021-05-31 18:07] mosesoak commented on #129
Thanks for your reply.

Since Gatsby 3 no longer supports `import styles` I need support for ` import * as styles`. The destructured import syntax didn't work for me.

￼I guess I'll be using the VS code extension for now, but was hoping I could use your plugin in tandem to provide type-checking.￼

(So far your plug-in doesn't work at all for me with Gatsby 3 -- if you have time, you could spin up

[2021-06-01 08:10] mrmckeb commented on #127
I did a little thinking/research yesterday/today, and what I feel we can do in this case is support `postcss` along with `postCss`. We might also change the default (recommendation) to be `postcss`.

I can see that other tools are using all lowercase for PostCSS, and want to help avoid situations like this in future. Examples below:
- https://vitejs.dev/config/#css-postcss
- https://webpack.js.org

[2021-06-01 17:32] davidmh commented on #95
I've just updated a large codebase to TS 4.3. Unfortunately, I haven't seen any noticeable improvements for this problem.

[2021-06-02 06:05] wingsico commented on #122
Thanks for your reply @mrmckeb .

Actually, the option 2 is suit for me. But I think the plugin can ignore this kind of problem, so that the type can be displayed normally.

[2021-06-02 09:50] cedeber commented on #129
Hello, the CSS tree shaking of Parcel v2 is also only available via `import * as styles` or named import. (although it still support the default import)

So I agree that supporting the destructuring import would be nice :-)
Thanks.

[2021-06-05 08:58] mrmckeb commented on #95
OK, thanks for the updates @davidmh. I'll keep an eye on this and see if there are any wins we can have here in future.

[2021-06-05 09:03] mrmckeb commented on #122
OK, thanks for the update @wingsico. I looked, and unfortunately I don't see an option in Less to build with errors. So if a variable can't be found, classname generation will fail.

If you're happy with that solution for now, can we close this issue? Or did I misunderstand?

[2021-06-05 09:24] mrmckeb commented on #129
Hi @mosesoak and @cedeber, I made some changes in the last update (released last weekend and that seems to have fixed `import * as styles` in my testing.

If this syntax, or destructured imports still aren't working for you, it's very likely an issue with the CSS files themselves and how this plugin parses them (maybe a missing setting, or something we can add to help). Providing a reproduction wo

[2021-06-05 09:26] mrmckeb commented on #129
Another thought, if your classnames have hyphens, they obviously won't be able to be destructured (just in case).

[2021-06-05 09:47] #127 closed

[2021-06-05 09:53] mrmckeb commented on #127
This is now released, thanks for your feedback and patience!
https://github.com/mrmckeb/typescript-plugin-css-modules/releases/tag/v3.4.0

[2021-06-06 03:03] wingsico commented on #122
@mrmckeb OK, I will close it soon. Thanks for your help. :)

[2021-06-06 03:03] #122 closed

[2021-06-07 08:20] cedeber commented on #129
I upgrade to 3.4.0 and, indeed, it works better now.
But a class named `my_css_class_name` with the setup `"classnameTransform": "asIs"` doesn't work. I believe underscores are valid, aren't they?

[2021-06-07 15:22] mrmckeb commented on #129
Hello, they definitely are supported! 😊

I've just double-checked with my test project, and this is what I see with that setting (note the last classname).
![image](https://user-images.githubusercontent.com/5043083/121043209-17625a00-c7bd-11eb-9644-741a3fa84108.png)

There might be something else happening, I'd be happy to take a look if you can provide a minimal reproduction?

[2021-06-07 15:44] cedeber commented on #129
Yeah, but does `styles.App_logo` work too? I mean underscores are valid in objects prop names.

[2021-06-08 14:53] mrmckeb commented on #129
Yes, it does :)
![image](https://user-images.githubusercontent.com/5043083/121208070-763dd700-c882-11eb-9e30-d59e6e8339e8.png)

[2021-06-08 19:33] mosesoak commented on #129
@mrmckeb Thanks for the updates! I have some pretty good results:

- Both * as styles and destructured imports and code-hinting all work now!
- You were right that a line in my scss file was choking the plugin: @import '~/styles/variables'; -- it's the absolute path configuration we use. Changing to a relative import path fixes the error.
- Jump-to-definition does jump to the correct file but does

[2021-06-09 09:24] cedeber commented on #129
Wow, that's weird on my side. This is how it looks like on intelliJ:

With array notation:
![css_module_1](https://user-images.githubusercontent.com/3330814/121328689-112ac580-c904-11eb-8f9e-ecfc16c75aed.png)

With dot notation:
![css_module_2](https://user-images.githubusercontent.com/3330814/121328742-1f78e180-c904-11eb-8efa-12cd3d79d255.png)

I only have access to `style.default.axis_container`

[2021-06-09 19:58] benjamin-andersen opened #134 "Absolute imports not functioning (Am I doing it wrong?)"
**Describe the bug**
When I try to use an absolute import in a scss module, VSCode complains that the class types don't exist.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a global scss file
2. Create an scss module file in a different directory
3. Import the global scss file in the other scss file
4. Import the scss module and use it in a component

**Expected behavior**
No error

[2021-06-11 02:21] egucciar opened #135 "Help Creating React Components from CSS Modules?"
**Is your feature request related to a problem? Please describe.**

Hello! I was wondering what would be the best way to augment CSS modules to leverage the powerful `customTemplate` you guys provided in conjunction with the following idea:

Lets say we have the desire to create something like this:
[code]

from something like this:

[code]

I think its great (and it works!) but, i would like TS s

[2021-06-11 02:26] egucciar commented on #135
My thinking is I'll need to apply the transform some how with babel to produce the components for runtime use, I'm new to this kinda stuff but i think this idea has some merit. Any pointers would be useful! I'd like especially to test something out locally.

[2021-06-11 11:55] AlanJereb opened #136 "SASS variables not being imported [NPM monorepo, CRA]"
# **Describe the bug** #
SASS variables from modules not being imported/are undefined.
`Property '' does not exist on type '{}'. ts(2339)`

**Screenshots**
![image](https://user-images.githubusercontent.com/24469472/121674623-9227bf80-cab2-11eb-9888-27cd05f0233f.png)
--------------------------------
# **Additional context** #
We are using NPM Workspaces to create a monorepo.

tsconfig.json
[code]

[2021-06-12 10:57] mrmckeb commented on #136
Hi @AlanJereb, thanks for raising this.

This issue normally means that variables aren't being resolved properly, in which case Sass can't compile the files - and we don't get the classnames.

Looking at what you've supplied, you have `renderOptions` instead of `rendererOptions` - which might solve this?
[code]

If it doesn't help, are you able to provide a very small reproduction? We use CRA for

[2021-06-12 11:03] mrmckeb commented on #135
Hi @egucciar, unfortunately this isn't possible with TypeScript today. As developers, we can provide types through TypeScript plugins, but nothing more. Even then the types are ignored during build time, which is quite limiting.

Here are the docs on that:
https://github.com/microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin#whats-a-language-service-plugin

You may want to look at somethi

[2021-06-12 11:03] #135 closed

[2021-06-12 11:17] mrmckeb commented on #134
Hi @benjamin-andersen, have you tried without the leading slash, as`@import 'src/common/scss/config'`?
![image](https://user-images.githubusercontent.com/5043083/121774073-f6b54e00-cb88-11eb-97a4-5e38b3fb8146.png)

If that doesn't work, are you able to supply a small reproduction? Perhaps with Create React App?

[2021-06-12 11:34] mrmckeb commented on #129
Hi @mosesoak, thanks for the kind words!

I think the problem in the ecosystem that everyone has a different config - Less/Sass/SCSS, different ways of aliasing/importing, etc. Because there isn't a standard, no tool will be perfect.

I'm on the team for Create React App and that's one place where I can guarantee certainty ;) I also need to do some spot checking against the default support in Next

[2021-06-12 11:38] mrmckeb commented on #129
@cedeber perhaps you need to transform the classname? The below `tsconfig.json` example might work for you. The `camelCase` option gives both `axis_container` and `axisContainer`, or you can use `camelCaseOnly` to only get the latter of those :)
[code]

[2021-06-12 16:01] benjamin-andersen commented on #134
Aha I feel dumb now, but thanks for the clarification :). Removing the extra `/` in front of `/src/common/scss/config` fixes it.

I have a follow-up question though:

I tried making an alias for `styles/config` --> `src/common/scss/config` by adding this line to my `tsconfig.json`:

[code]

But I assume there is a setting I have to change for the plugin to get this to work because that doesn't see

[2021-06-14 07:38] cedeber commented on #129
Yes, thanks, but unfortunately camelCase transformation doesn't work currently with Parcel 2. There is some issues with PostCSS apparently. But still, I prefer to keep the same name in the (S)CSS than in JS too, just to avoid confusion to other team mates who are not used to CSS modules "magic"

I'll try to figure out what's going on with simpler project.

[2021-06-14 08:22] AlanJereb commented on #136
Hi @mrmckeb, thank you for your prompt reply and for taking the time to review my question.

I have corrected the typo, but the problem persisted.

In the end, I solved the issue, by:
- Removing the plugin from tsconfig.json
- Creating an `_export.module.scss` file which is **not** imported into default styles:
[code]
- Refactoring `_variables.scss` file like so:
![image](https://user-images.githu

[2021-06-17 08:22] ghost opened #138 "Use sass module in vue3 by it: Property '' does not exist on type '{}'."
import var scss in vs.config.js
//vue.config.js

[code]
![image](https://user-images.githubusercontent.com/75852065/122358953-b9d1c880-cf87-11eb-9aea-20961c383292.png)
![image](https://user-images.githubusercontent.com/75852065/122359079-d40ba680-cf87-11eb-9cb6-d2cdb23faefc.png)
if delete the var, it's working fine.

[2021-06-22 15:01] this-ren commented on #138
I has this error too

[2021-07-10 09:16] Carnia commented on #122
@mrmckeb
I think option3 is what I am looking for.
In my project, i used a webpack loader called `style-resources-loader`, its option looks like that:
[code]
its desciption:

  It's mainly used to:
  share your variables, mixins, functions across all style files, so you don't need to @import them manually.
override variables in style files provided by other libraries (e.g. ant-design) and customiz

[2021-07-12 19:58] fgblomqvist commented on #115
Any update on this? I'm still voting for just dropping it 🙃

[2021-07-14 14:37] dartess commented on #102
@mrmckeb

Hi! I recently found out about this package and happily decided to use it. It works fine, but my lock file has grown ~ 1200 lines. This is because I don't use any less or sass at all. As far as I know, many also use vanilla css modules. Therefore, I want to suggest the following scenario, which can be a compromise for everyone.

I propose to split the implementation for different preproc

[2021-07-19 06:56] mrmckeb commented on #115
Not yet sorry. I think we'll probably end up dropping it though... especially if it's no longer actively maintained, and there are other solutions available.

[2021-07-21 07:11] lianapache commented on #115
@mrmckeb I think it makes sense to drop it and provide an example of a custom renderer as you suggested earlier

[2021-07-23 17:30] andykenward commented on #129
For Gatsby 3 and scss modules and you are using `gatsby-plugin-sass` you can set `namedExport: false`.

[code]

Then you can do

`import styles from 'styles.module.scss'` |

instead of

`import * styles from 'styles.module.scss'`

[2021-07-31 10:06] 3hson opened #139 "class names are not transformed to camelCase"
**Describe the bug**
I'm using cra typescript template with typescript-plugin-css-modules and set classnameTransform": "camelCase" but class names are not transformed.

**To Reproduce**
here is the [sandbox](https://codesandbox.io/s/great-bose-zb3j7?file=/tsconfig.json)

**Expected behavior**
expect to transform .App-header to appHeader

[2021-08-01 12:08] laoqiu233 commented on #139
Same problem, hope to get an answer soon!

[2021-08-02 07:55] mrmckeb commented on #138
Hi there, this is likely because the variables aren't available. You can look at the Sass options ([here](https://github.com/mrmckeb/typescript-plugin-css-modules#rendereroptions)).

Unfortunately, if you don't import the vars you're using, there's no way this plugin can know they exist.

In your build process, this is probably handled by Webpack and the loader for Sass, which is why it seems to w

[2021-08-02 07:57] mrmckeb commented on #134
Hi @benjamin-andersen, yes you can look at the Sass options in [renderer options](https://github.com/mrmckeb/typescript-plugin-css-modules#rendereroptions), and pass through paths there :)

Unfortunately everyone does CSS modules differently, so there is often a little configuration needed on the user side... I wish I could do it all auto-magically!

[2021-08-02 07:59] mrmckeb commented on #136
Thanks for the update! Sorry I missed this earlier.

I can definitely look into this further, but would need a reproduction repo if you can supply one?

[2021-08-02 08:05] mrmckeb commented on #139
Hi there, I've just tested this repo and it works for me - but not in CodeSandbox, as I think they don't load TS plugins.

Are you using VSCode, and if so, did you follow the instructions?
- https://github.com/mrmckeb/typescript-plugin-css-modules#visual-studio-code

Here's an example of what I see with your repro locally :)

![image](https://user-images.githubusercontent.com/5043083/127825870-712

[2021-08-02 09:45] 3hson commented on #139
the exported types in VSCode are fine but when i start the project the classes in the generated css are not in camelCase.

no style as you see

![Screenshot from 2021-08-02 14-13-09](https://user-images.githubusercontent.com/36244081/127841213-062fc9d1-d103-4387-9369-97e32f614766.png)

[2021-08-02 12:25] benjamin-andersen commented on #134
Thanks!

[2021-08-02 12:25] #134 closed

[2021-08-04 21:20] nirtamir2 commented on #90
I use `typescript-plugin-css-modules` and it works well. I notice a problem when I have a pre-commit hook that runs `tsc`, and I also have the `noPropertyAccessFromIndexSignature` property in `tsconfig.json` - my commit hook fail (because it does not generate the TypeScript definitions in this case). I wonder if there is a HACK to keep this flag and understand the typescript definitions / ignore c

[2021-08-06 18:34] ekilah opened #140 "Is it possible to query this plugin's results via a custom script (for CI)?"
**Is your feature request related to a problem? Please describe.**
I would like to have a CI rule that prevents JS from being merged that refers to classnames that don't exist.

**Describe the solution you'd like**
I'm hoping for a programmatic way to call/ask/query this plugin for its errors, so I can read them and fail CI if there are any.

**Describe alternatives you've considered**
I haven't t

[2021-08-11 06:29] hiseri opened #142 "Error when using math.div.（Property 'xxxxx' does not exist on type '{}'.）"
**Describe the bug**
An error occurs when importing a file using `sass:math`.
（`Property 'xxxxx' does not exist on type '{}'.`）

**Screenshots**
<img width="619" src="https://user-images.githubusercontent.com/8216721/128844905-8a335a07-c906-446e-8e09-e37ad2f444d8.png">

**To Reproduce**
* sample.tsx
[code]

* sample.module.scss
[code]

**Comment**
sass@1.33.0 recommends using math.div instead of /

[2021-08-16 15:15] yts commented on #95
@gluxon , @mrmckeb
I was having this issue of the TS File Watcher only firing after a few minutes, and updating TypeScript from 4.1.2 to 4.3.5 fixed the problem for me.

Thank you @gluxon for reporting the issue to the TypeScript team!

[2021-10-08 20:56] Dodje commented on #138
@mrmckeb
Didn't want to create an issue, I hope it's okay if I ask it here whether it is possible to make it work with typescript vue files?

I've found a message about module not working with files except [js/ts](https://github.com/mrmckeb/typescript-plugin-css-modules/issues/94#issuecomment-661619319)

It work fine with .tsx files for me, but I need it working with vue..

[2021-10-11 15:53] jsg2021 commented on #115
in the meantime, you can bump `stylus` to 0.55.0, which would resolve the deprecation warning for now.

[2021-10-13 22:44] atomanyih opened #144 "Erroneous type error with create-react-app and `noUncheckedIndexedAccess`"
**Describe the bug**
If you use the `noUncheckedIndexedAccess` compiler flag, classnames that are defined will still be typed as `string | undefined`

**To Reproduce**
Repro repo: https://github.com/atomanyih/ts-css-modules-test

If you `npm start` or `npx tsc` you will see this type error:

[code]

**Expected behavior**
The generated classname should be defined

**Additional context**
Use-cases w

[2021-10-18 10:44] www159 opened #145 "cannot work when setting baseUrl"
**Describe the bug**
when setting `baseUrl` and `path` to resolve alias, the plugin cannot recongnize class name.

**To Reproduce**
Steps to reproduce the behavior:
1. tsconfig.json
![image](https://user-images.githubusercontent.com/40891547/137715649-5cf043aa-7796-4b51-a692-0030160a35d9.png)
2. when using
![image](https://user-images.githubusercontent.com/40891547/137715921-170eb083-bc86-4e84-b07

[2021-10-21 04:16] HaiRongHaHA opened #146 "using @include in CSS will cause classes to be an empty object"
Hello, when I using @include in CSS will cause classes to be an empty object, as shown in the following figure

![image](https://user-images.githubusercontent.com/34539325/138209245-f53fb48a-e25a-4568-9894-a1c3f3b54dd9.png)

Just remove @include

![image](https://user-images.githubusercontent.com/34539325/138209318-3ec3b5f9-70e0-45d3-a0e2-505350fb2304.png)

Maybe it's because mine @mixin  is globa

[2021-11-03 10:41] KoichaDev opened #147 "Regular importing the scss files not working"
I am having a bug that if you wish to use

`import './button.module.scss';` is not working

The only thing that is working is:

`import styles from './button.module.scss';`

Any idea how to fix this?

[2021-11-06 22:07] ChrisCrossCrash commented on #16
Just FYI, this was still an issue for me on my brand-new NextJS project. Here is the error I experienced:

[code]

Changing imports from `import * as styles` to `import styles` fixed it for me.

Here are my project's dependencies currently:
[code]

Here is the [full repository](https://github.com/ChrisCrossCrash/chriskumm.com-nextjs) (without the fixes committed as of right now).

[2021-11-15 06:14] xeho91 commented on #147
Nothing to fix here, the first example is incorrect usage of CSS modules.

[2021-11-15 06:36] xeho91 commented on #146
I am facing a similar issue.
When a CSS module file contains those "at-rules": `@use`, `@include`, and `@apply` _(from the TailwindCSS)_.

It returns an error `Property '<specific class name>' does not exist on type {}`.

My `tsconfig.json` contains the following setup:
[code]

@mrmckeb Could I ask for guidance on how I could debug it, to figure out why it can't resolve these "at-rules"?

[2021-11-15 07:02] KoichaDev commented on #147
@xeho91 How am I using it wrong?

[2021-11-15 17:23] doug-shontz opened #148 "Tailwind Just-In-Time Important Modifier Breaks Class Name Parsing"
**Describe the bug**
Tailwind important notation breaks parsing logic.

**To Reproduce**
We are using SASS (scss version) and Tailwind together within typescript and are using this module to export our class names into our TSX files (React).

Use the SCSS file below and note specifically the Tailwind syntax of !important (i.e. sm:!w-1/2).  If we leave in the important symbol for Tailwind, our TSX

[2021-11-16 05:42] tleunen commented on #146
Having the same issue currently. Interesting in finding a solution without moving back to relative paths

[2021-11-18 13:29] kontuljan commented on #146
I am facing a similar issue as well (using @use).

When I reference some .scss file by relative path, everythig works fine.
![image](https://user-images.githubusercontent.com/38462237/142422421-4a355eab-6f72-4b68-8e30-f539335f923f.png)
![image](https://user-images.githubusercontent.com/38462237/142422857-38693970-c2e8-4eca-b06b-daee25d47fc1.png)

But, when I reference same file absolutely, like th

[2021-11-18 15:09] Bjorn-Eric-Abr commented on #147
The examples you provided are two different types of imports.

You want to use
`import styles from './button.module.scss';` so that you can reference `styles` when adding class from that module to a component like `className={styles.button}`.

What I think can confuse this a bit is that in e. g. Create React App, Webpack is configured to handle all sorts of imports, like `.css` or `.sccs` [if you

[2021-11-24 14:18] chungweileong94 commented on #139
This plugin only handles the TypeScript types. As for runtime, you will need to change the `localsConvention` on the CSS loader.

[2021-11-27 06:42] mikeplus64 commented on #144
Same issue. I thought I might  sure how this happens as https://github.com/mrmckeb/typescript-plugin-css-modules/blob/82ba03548c3d2193508e1a4dbc47c1aa9b22943c/src/helpers/createExports.ts#L41 seems to just generate modules in the form

[code]

So I don't understand why `noUncheckedIndexAccess` would trip it up.

[2021-11-27 07:20] mikeplus64 commented on #144
So I think that when TypeScript merges these declarations

[code]

and

[code]

It turns accessing classes from a property to an "index" access which will return `string | undefined` under `noUncheckedIndexAccess`.

[2021-11-28 10:41] nevolgograd opened #150 "Is it possible to ignore nested classes?"
**Is your feature request related to a problem? Please describe.**
Currently all classNames declared in a module are mapped to unique name. This means even if I have a nested child inside of a component with unique className, i can't style it directly.
I'd give an example:

Consider this css:
[code]

It will be transformed into two unique classNames and to make everything work markup should look l

[2021-11-28 11:24] nevolgograd commented on #150
Sorry guys, did more research and turned out question is irrelevant to this plugin.

[2021-11-28 11:24] #150 closed

[2021-11-30 22:17] tleunen commented on #146
So I was able to get it fixed by using an absolute path in `includePaths`, but it's far from being a great solution.

Can we have someone looking into it? `tsconfig` cannot be in JS so converting the relative path into an absolute path should be easily doable within this plugin... If that's the right fix.
The tests all use `__dirname`, which is an absolute path as well, so it could explain why tes

[2021-12-09 11:58] kontul-dev commented on #146
@tleunen : could you share your solution?

I am not able to make it work (by defining absolute path to "/src").

[2021-12-09 15:59] tleunen commented on #146
It's not really a solution though.

I was simply able to make it work by using an absolute path in my tsconfig file.
For example:
[code]

[2021-12-09 16:09] kontul-dev commented on #146
@tleunen Thanks for quick response. I just wanted to try it as temporary solution.

Anyway, I can add another piece of information - it doesn't seem to work on Windows, like:

`"includePaths": ["C:\\PROJECTS\\xyz\\src"] `

(neither with / as path separator)

[2022-01-04 07:03] mrmckeb commented on #148
Hi @doug-shontz, are you able to provide a reproduction repo? I can then take a look!

[2022-01-04 07:05] mrmckeb commented on #147
That's correct, this plugin provides IDE types for object imports - not unassigned imports, sorry!

Thanks for helping to explain @Bjorn-Eric-Abr!

[2022-01-04 07:05] #147 closed

[2022-01-04 07:19] mrmckeb commented on #145
Hi @www159, are you able to provide a reproduction? I can then take a look for you. Sorry for the slow response, I've been moving countries.

[2022-01-04 07:23] mrmckeb commented on #144
Hi @mikeplus64, a limitation of this plugin - and all TypeScript plugins - is that they only work in the IDE.

So there's not really a good solution here sorry. I know that's frustrating to hear, I'd love to see the TypeScript team allow compile-time plugins to provide type information.

I see three possible solutions here:
1. Generate a `d.ts` file for each CSS module (there are a few tools that

[2022-01-04 07:24] mrmckeb commented on #142
Hi @hiseri, this might require a Sass upgrade then!

I'll take a look ASAP :)

[2022-01-04 07:26] mrmckeb commented on #140
Hi @ekilah, unfortunately TypeScript doesn't allow this today - TypeScript doesn't support plugins during build/compile, only in the IDE (sadly).

There are tools that generate `.d.ts` files for each CSS file, which you could look to use in the CI. Maybe that would work for you?

[2022-01-04 07:27] mrmckeb commented on #139
Thanks @chungweileong94! I'll close this off.

[2022-01-04 07:27] #139 closed

[2022-01-04 07:29] mrmckeb commented on #138
Hi @Dodje, please do raise an issue and we can talk there!

I'm definitely OK with expanding support, that comment was actually about VSCode's command palette. Right now, it should work anywhere the TypeScript compiler works... so I'll be interested to understand more.

[2022-01-04 07:30] mrmckeb commented on #136
I'll close this off as I can't debug further without a reproduction.

Please feel free to reopen in future :)

[2022-01-04 07:30] #136 closed

[2022-01-04 07:31] mrmckeb commented on #129
I'll close this off, but feel free to reopen in future.

[2022-01-04 07:31] #129 closed

[2022-01-05 00:27] mrmckeb commented on #146
Sorry for the slow reply, I was moving country (back in Australia now) and obviously that's eaten a lot of my time.

Can someone provide a very simple reproduction for me? I can then use that to debug against and will provide a solution.

[2022-01-05 02:53] mrmckeb commented on #115
I'll create a PR in the next days to do a dependency bump across all deps.

[2022-01-05 16:56] falahati commented on #146
there is a similar problem with `less`. If the path is specified with a leading dash it fails. Meaning that:

`@import "src/themes/_colors.less";`
works and VSCode provide type completion inside of the `ts` file, but VSCode does not offer completion inside of the `less` file.

but,
`@import "/src/themes/_colors.less";`
breaks this plugin and therefore the returned import contains `{}`, but vscode

[2022-01-06 15:50] falahati commented on #146
another interesting fact is that with NextJS, using relative addresses (or absolute without the leading slash) would result in warnings regarding caching issues so even this workaround probably won't work as well as I expected.

[2022-01-07 01:38] leozhao0709 commented on #146
Seeing the similar thing in scss file.

If `@import relativePath` in scss file, it work correctly. But when it use `@import aliasPath` (alias path defined in tsconfig file), then it stop working. And intellisense just gives an empty object.

[2022-01-07 19:57] FBNitro opened #151 "Audit issues due to postcss version"
**Describe the bug**
[code]

**To Reproduce**
execute yarn or npm audit

**Expected behavior**
A successful audit

Note: I realize that the postcss-filter-plugin/icss-* modules are way out of date that's the underlying cause... maybe there's another package this could move to.

[2022-01-10 14:51] mthines opened #152 "SCSS - Importing SCSS variables globally breaks exported TS type to `{}`."
Thanks for the awesome TS plugin! 💪

**Describe the bug**
There's certain cases when using SASS where you need the value of a variable and need to wrap it in `#{}` in order to get the variable output and not the variable name.

When adding `#{}` to a `*.module.scss`, the file's classNames etc are no longer exported and only shows `{}` in the TS file.

**To Reproduce**

Add the following to any `*.

[2022-01-11 18:55] NoamNol commented on #34
I did `npx create-next-app@latest --ts` and I can't go to definition. instead, vscode brings me to `global.d.ts`.
I know this is a different issue but it's related to the discussion here.

[2022-01-12 12:45] lucasbasquerotto commented on #34
@NoamNol If you created a new project, your case may be that that it's using the Editor/IDE Typescript, instead of the typescript in your workspace.

The errors are shown normally (if you write a wrong classname, for example)?

If you are using VSCode, make sure you follow the steps defined at https://code.visualstudio.com/docs/typescript/typescript-compiling#_using-the-workspace-version-of-typesc

[2022-01-12 14:52] NoamNol commented on #34
@lucasbasquerotto I configured it to use the workspace TypeScript but it doesn't matter.
No error for wrong classname.
Latest version of VSCode.
TypeScript 4.5.4.

[2022-01-12 15:03] lucasbasquerotto commented on #34
@NoamNol It should give an error, so it seems the plugin is not being used.

One reason for that is that it's not using the typescript of your workspace, like I said previously. Another reason is that the typescript `tsconfig.json` file doesn't have:

`plugins": [{ "name": "typescript-plugin-css-modules" }]`

Can you verify that your `tsconfig.json` file has the plugin above, and that your `packag

[2022-01-12 15:43] NoamNol commented on #34
@lucasbasquerotto Thanks it works!
I thought `npx create-next-app@latest --ts` will do all the configuration but I was wrong

[2022-01-13 07:37] mthines commented on #152
I think it might be related to using sass variables in `@media` selectors, as I can see I get the same issue without the `#{}` syntax.

[code]

Both of these examples makes the imported object type be an empty object `{}`.

![image](https://user-images.githubusercontent.com/16097850/149286021-e6219755-ed88-46cb-a314-b3c9c9b6a23c.png)

Is there anything I can do to help debug the issue and help fix

[2022-01-13 07:47] mthines commented on #152
I think it's related to https://github.com/mrmckeb/typescript-plugin-css-modules/issues/146.

Trying to add the variable directly to the `scss` fixed the error.
I have a SCSS configuration in my `NextJS` app which includes all my resources, and I think that needs to be set in the same way for the plugin.
[code]

I will try and update the `tsconfig` plugin settings, and see if I can get it to work

[2022-01-13 09:00] mthines commented on #146
@mrmckeb

Look here for examples to reproduce. I wasn't able to get it working properly in a CodeSandbox so you have to try in your own environment.

https://github.com/mrmckeb/typescript-plugin-css-modules/issues/152

[2022-01-15 17:31] woodysee commented on #152
I have a similar issue. I think the plugin is unable to resolve any SASS variables that are defined in `additionalData` or `sassOptions.prependData` inside `webpack.config.js`.

[code]
[code]
[code]
[code]

[2022-01-25 14:02] mthines commented on #152
So far I haven't been able to find a solution which imports the resources.

[2022-02-11 15:16] tleunen commented on #146
@mrmckeb Was the info I provided enough for you to be able to test this?
I have sass files which uses "absolute" paths so I can avoid having a relative path hell. I have that setup with my sass loader in webpack as well so it all works great.
Here's an example of a file with import/include statements
[code]

The directory `sass` is at the root of my project.

in my TSconfig, it requires me to put

[2022-03-02 17:57] bonham000 commented on #94
I ran into a similar issue where the plugin was working and then suddenly stopped working. Nothing I tried fixed it until I re-installed node modules `rm -rf node_modules && yarn`.

[2022-03-19 17:19] jcubic opened #154 "CSS Animations doesn't work"
**Describe the bug**
There is no way to use CSS animations (keyframes).

**To Reproduce**

Example code:

[code]

[code]

The output CSS look like this:

[code]
Which is invalid CSS.

**Expected behavior**
Animations should work

**Desktop (please complete the following information):**

- OS: [e.g. iOS] Fedora GNU/Linux
- Browser [e.g. chrome, safari] Chrome
- Version [e.g. 22] 99

**Smartphone (p

[2022-03-28 04:03] mrmckeb commented on #154
Hi @jcubic!

This plugin isn't responsible for that, instead it only provides types for TypeScript to use. It does have to process CSS for that to work, but the CSS processed by this plugin is not used in the final application.

Taking a quick look, this seems to help as a workaround:
[code]

But you may want to raise this as a CRA issue:
https://github.com/facebook/create-react-app

[2022-03-28 04:03] #154 closed

[2022-03-28 07:51] jcubic commented on #154
Is CRA really responsible for CSS Modules? Maybe this project is responsible [css-modules/css-modules](https://github.com/css-modules/css-modules)?

I was using CodeSandbox so I'm not sure what was installed as a dependency of dependencies.

I've only added `typescript-plugin-css-modules` and it started to work.

[2022-03-29 18:34] ekilah commented on #140
What are those tools, I'm curious?

I know that TS doesn't support plugins during the build/compile process, but I was wondering if we could somehow talk to the language service/whatever _does_ interact with this plugin via our own script/something that isn't an IDE. I know this is out of scope for your project here, but I'm hoping to learn more on this front to maybe build something that could do

[2022-04-04 15:33] philjones88 commented on #146
Also hitting this issue, a bit more complexity to add to the potential solution is supporting TS types:

i.e. in the `Foo.module.scss` we have:

[code]

and in our tsconfig.json:

[code]

[2022-04-05 19:36] SukkaW commented on #151
Note it is not the issue of `typescript-plugin-css-modules`. It is `postcss-icss-keyframes` that relies on `postcss@6`.

[2022-04-13 19:01] KenjiTakahashi commented on #151
FYI https://github.com/css-modules/postcss-icss-selectors/issues/126
Looks like these libs are dead and should not be used.

[2022-04-20 18:18] gstsdev commented on #152
Hi!

I was also facing this issue and I found, after looking the TS Server logs, that Sass could not find the files by these "absolute paths", even with the options `compilerOptions.baseUrl` and `compilerOptions.paths` set in `tsconfig.json`.

So I decided to take a look at the plugin's source code and do some debugging and then I found that the problem may be caused by this part of the code:

htt

[2022-05-11 08:03] #148 closed

[2022-05-11 08:05] mrmckeb commented on #140
Hi @ekilah, sorry for the slow reply. I there are a number of CSS module Webpack plugins to do this, along with command line tools like `typed-css-modules`.

[2022-05-11 08:06] #140 closed

[2022-05-11 08:08] mrmckeb commented on #138
I just noticed that the original post had a typo which may have been the cause ` @import "@/style/gobal.scss";` - where `gobal` should be `global`.

[2022-05-11 08:08] #138 closed

[2022-05-18 13:27] martpie opened #157 "Thank you :]"
Just wanted to thank you for creating this plugin, this has been an awesome boost of productivity in multiple apps I've built, so thank you ❤️

[2022-06-15 16:15] Nokel81 opened #158 "Using `import * as styles` does not result in a type error at use"
**Describe the bug**
The correct way of importing modules in a `.ts` or `.tsx` file is `import styles from "./my-styles.modules.css";`, however if I accedentally do `import * as styles from "./my-styles.modules.css";` then I don't get a type error in VsCode, I only get one when I run `tsc` (because I have a separate mock for tsc).

[2022-06-16 20:09] taletski opened #159 "Fails to find files by aliased imports with omitted file extension or underscore"
First, thank you guys for a great plugin <3

**Describe the bug**
I am experiencing issues with `.scss` files that use `@import`s with the following: import alias, omit leading underscore and omit file extension

**To Reproduce**
- Next.js app in a monorepo
- Files structure
[code]

- File `apps/my-app/tsconfig.json`
[code]

- File `apps/my-app/src/pages/index.module.scss` imports `apps/my-app/src

[2022-06-17 15:35] unsivilaudio opened #160 "Not Working On Current Versions of CRA"
## Steps to reproduce
✅ Create a new react project with CRA, `npx create-react-app --template typescript testme`
✅ Change `App.css` to `App.module.css`
✅ Install plugin with `npm install typescript-plugin-css-modules`
✅ Add plugin to `tsconfig.json`
✅ Add additional configuration to `.vscode/settings.json`

### tsonfig.json
[code]
### .vscode/settings.json
[code]
## Expected behaviour
Intellisense

[2022-06-17 18:10] unsivilaudio commented on #160
Follow-up. The issue I was seeing is because I had multi-project workspace open instead of a single (project) workspace.

[2022-06-17 18:10] #160 closed

[2022-07-01 10:54] kirill-martynov commented on #152
Hello @mthines !

Did you find a solution for this issue?

[2022-07-01 10:57] mthines commented on #152
@kirill-martynov No and I'm still frustrated by it.

I really want this plugin to work.

[2022-07-01 10:58] kirill-martynov commented on #146
Hello!

Does anyone found a solution for this?
Struggling with same issue, when using global scss variables in *.module.scss I'm getting `{}` empty type
<img width="442" alt="Screenshot 2022-07-01 at 13 57 51" src="https://user-images.githubusercontent.com/70448489/176881718-b12741af-9858-4183-8d29-7dfc965564cc.png">

[2022-07-01 11:03] kirill-martynov commented on #152
me too, we have a lot of media query global variables on a project, but when we are using them, it's always showing empty type `{}`
<img width="388" alt="Screenshot 2022-07-01 at 14 02 16" src="https://user-images.githubusercontent.com/70448489/176882381-5bdee64f-7ccb-
<img width="559" alt="Screenshot 2022-07-01 at 14 02 58" src="https://user-images.githubusercontent.com/70448489/176882493-bf10a0c

[2022-07-01 12:19] kirill-martynov commented on #152
So, I've tried another solutions for my purpose, specially media-quaries global variables.
I've removed sass variables from my project, switched to pure css modules and installed `postcss-custom-media` and others plugins

Created a file with custom media queries variables:
[code]

Then I added a postcss.config.js
[code]

Then I've used this variable in my css module file
[code]

And then everythin

[2022-07-08 03:52] EvHaus commented on #102
I can think of a couple of ways to do this. Both are major breaking changes, but might get us a solution to this:

### Option A: Split up the package into a separate package for each processor

You would effectively end up with:

- `typescript-plugin-css-modules`
- `typescript-plugin-css-modules-stylus`
- `typescript-plugin-css-modules-less`
- `typescript-plugin-css-modules-sass`
- `typescript-plu

[2022-07-21 04:15] wp993080086 commented on #146
**目前在xxx.module.scss中，使用@include是不支持的，会导致获得空对象**

以下写法可行：
![QQ截图20220721120146](https://user-images.githubusercontent.com/52116404/180127914-cb9d464b-c34a-4480-a260-4a2f5606a158.png)
![QQ截图20220721120208](https://user-images.githubusercontent.com/52116404/180128339-bd1d5544-67af-4fed-a337-f75b6cb3750e.png)

![QQ截图20220721120244](https://user-images.githubusercontent.com/52116404/180128511-b37bc147

[2022-08-03 10:54] cat-walk commented on #122
Hey, is there any progress with this problem? I think many less user suffer from this.

[2022-09-07 10:01] equinusocio commented on #158
Same issue, even if i would like to being able to import css modules using `import * as styles` since is now the "recommended" way to import them (along side named exports, which is not always possible).

[2022-09-12 18:37] ArthurStam commented on #158
If you want to get an error, you have to add `namedExports: false`:

[code]

It will work if you disable `allowSyntheticDefaultImports` config in tsconfig.json

[2022-09-19 18:12] andrey-skl opened #163 "Could not resolve classname if used via "@nest" keyword"
**Describe the bug**
If modern [CSS nesting syntax](https://www.w3.org/TR/css-nesting-1/#at-nest) is used, it classnames are not recognized.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Have a css file with content listed above
2. Have a postcss set up. Example postcss.config.js:
[code]
3. Use the `typescript-plugin-css-modules` plugin with configuration:
[code]
4. Have a valid u

[2022-09-29 18:29] cephalization commented on #144
Is it possible for an option in the plugin to hint to vscode that each class is potentially undefined?
That way at least I can get my editor to force me to use optional chaining.

I don't like that my editor will not warn me of a compiler failure.

[2022-10-17 15:14] PodaruDragos commented on #146
@mrmckeb hello.
my apologies for tagging you like this, but did you happen to have a bit of spare time to merge the PR's that fixes this problem ?

[2022-10-18 15:16] falahati commented on #146
I have pushed an MR to solve this problem with absolute paths. you can check it out before it gets merged (if it ever gets merged) by replacing the current version of the library to:
[code]

What it does is that it adds the current `.tsconfig` directory as the base path of both `less` and `scss` renderers. effectively allowing files to be included from the root of the project. This works with my s

[2022-10-22 18:20] piotr-musialek-footballco commented on #152
**Possible workaround!**

I have the same configuration like @mthines with NextJS and `@import` all mixins in every scss file so we don't have write this import in each file. This results with `{}` as a type whenever we use `@include` or use mixins. I could add this `@import` everywhere but since we have something like `customRenderer` why not use it. Unfortunately this means I have to recreate re

[2022-10-22 18:33] piotr-musialek-footballco commented on #95
I'm on Typescript 4.7.3 and it's still slow.

Here's my workaround:
I figured that when I use VSCode command like `Typescript: Restart TS Server` or `Typescript: Reload Project` it forces TS to recalculate and I can see updated types. The second command seems faster so what if we can run it every time I save my CSS file (SCSS in my case)?

I found a great idea on how to achieve it on [StackOverflo

[2022-10-24 05:24] mrmckeb commented on #34
Hi @FunctionDJ, the Next.js types will be used during build, but these types will be used in VSCode (or other editors). Just make sure you've followed the instructions in the README :)

[2022-10-24 05:25] mrmckeb commented on #81
I'm going to close this off for now, but if anyone wants to pick this up in future, feel free to open new issue.

[2022-10-24 05:25] #81 closed

[2022-10-24 05:27] mrmckeb commented on #95
From what I've heard (and seen), performance shouldn't be a big issue anymore @piotr-musialek-footballco - but that's a great solution for anyone that does have performance/sync issues, thanks!

I'm going to close this off now as there's not a lot we can do from this side (as far as I can tell).

[2022-10-24 05:27] #95 closed

[2022-10-24 07:18] mrmckeb commented on #151
Thanks, I'll look at replacing this dependency.

[2022-11-04 15:51] max-mykhailenko commented on #34
My VSCode opens d.ts file with definition, how to open at least correct CSS file?

[2022-11-07 06:20] #34 closed

[2022-11-10 09:15] whale2002 opened #170 "Can I use it in jsx？"
We use nextjt to develop.
I want to use it in jsx, but it seems that it does not work in jsx. And it is normal in tsx.
How can it use it in jsx? @mrmckeb
<img width="884" alt="image" src="https://user-images.githubusercontent.com/79465534/201049635-678669ba-f043-451e-8d8b-4785c56e416d.png">
<img width="930" alt="image" src="https://user-images.githubusercontent.com/79465534/201049769-ea6815ba-0553

[2022-11-11 03:09] piro0919 commented on #34
@max-mykhailenko

I've been having the same problem for a long time, the problem went away when I used [react-ts-css](https://github.com/Viijay-Kr/react-ts-css) .
I would love for you to try it. 👍

[2022-11-11 10:15] max-mykhailenko commented on #34
@piro0919 @mrmckeb thank you, works better now, now I have two definitions. How to tell VSCode to ignore d.ts files for css?
<img width="1468" alt="image" src="https://user-images.githubusercontent.com/1213198/201318809-59c7109c-f9a2-4f90-a5b3-7f8ec4054fa8.png">

[2022-11-11 12:37] piro0919 commented on #34
@max-mykhailenko

I don't know the details, but what if you put the following settings in vscode?

[code]

[2022-11-11 15:00] kasparsuvi1 opened #171 "Add possibilty to allow other classes than defined in css files"
Hello!
Thanks for amazing plugin! Works like a charm.

**Is your feature request related to a problem? Please describe.**
I used typescript-plugin-css-modules and it works very good. But i found myself frustrated when using bem naming convention and typescript-plugin-css-modules together. Because its allowing me to only use classes that are defined in .css file.

imagine we have such a component:

[2022-11-13 21:34] kanapka94 commented on #170
`jsx` is JavaScript file so TypeScript will not work. Look at screen:

<img width="928" alt="obraz" src="https://user-images.githubusercontent.com/7600593/201545673-571b9bc3-c1c4-41fd-9270-60eb5f6bfbee.png">

Change `.jsx` to `.tsx`

[2022-11-16 15:33] DelliriumX opened #172 "eslint + ts issue. eslint sees the import as "any", even though VSCode clearly shows a string"
**Describe the bug**
I have a project that uses this plugin and ts, as well as eslint with an extensive ruleset.
For some reason I keep getting linting errors. Does this plugin not have eslint support?

![image](https://user-images.githubusercontent.com/11763983/202223293-9bcf440c-a70d-4b08-af61-9013821f917f.png)

**.tsconfig.json**
[code]

[2022-11-16 15:40] DelliriumX commented on #172
I've managed to resolve this issue but it caused a different issue instead. By adding the custom definitions as per the instructions that react-scripts users can skip, now the linter recognizes these imports as **non-any** but rather a properly shaped objects... however now the compiler demands these fields be accessed via index key.

![image](https://user-images.githubusercontent.com/11763983/202

[2022-11-17 06:44] davidmh commented on #95
I updated the codebase I was having issues with to TS 4.9, and the changes now reflect immediately!

It looks like an improvement in their file-watching system: https://devblogs.microsoft.com/typescript/announcing-typescript-4-9/#file-watching-now-uses-file-system-events

[2022-11-22 06:48] mrmckeb commented on #172
Hi @DelliriumX, we've been talking about shipping an ESLint plugin as a part of this. Do you think that would help?

Unfortunately, there's a restriction in TypeScript which means that plugins are only run in the language service for VSCode, not outside of the IDE.

See: https://github.com/typescript-eslint/typescript-eslint/issues/3645

[2022-11-22 06:52] mrmckeb commented on #171
Hi @kasparsuvi1, this isn't something we support today sorry. If we add `[key: string]: string;` then any string would be valid, which would eliminate some of the benefit of this plugin.

However, you can actually do that yourself using a custom template:
https://github.com/mrmckeb/typescript-plugin-css-modules#customtemplate

I think that should solve the issue for you?

[2022-11-22 06:53] mrmckeb commented on #170
This will 100% work in `.tsx`, but as @kanapka94 said, I'm not sure TypeScript will even run the plugin for JavaScript files. Our design focus is TypeScript.

[2022-11-22 06:54] #170 closed

[2022-11-22 08:12] kasparsuvi1 commented on #171
Hi. Yes that solves the issue, as I described in my first post.
And I agree that adding `[key: string]: string; ` eliminates some of the benefits, but it also gives it some new ones.
My point was that it was kind of hard to achieve, when new to the plugin and maybe not documented well enough, so it could be:
1. customTemplate documentation maybe includes example for that?
or
2. Add new property th

[2022-11-27 11:14] OliverJAsh commented on #34
If I understand correctly this only works for Sass files at the moment. What work is left to do to make this work for regular CSS files? (I tried it but it didn't seem to work properly.)

Also, do you have any thoughts on how we could enable other language server features? E.g.

- "find references" (CSS -> JS)
- ability to rename classes from CSS or JS/TS and apply changes on both sides

[2022-11-29 19:08] ScorpAL commented on #142
Friendly reminder :)

[2022-11-30 17:34] OliverJAsh opened #175 ""Go to definition" and "rename" do not work properly"
**Describe the bug**
"Go to definition" and "rename" do not work properly

**To Reproduce**
Steps to reproduce the behavior:

1. Open a TS file
2. "Go to definition" on a class name, or try to rename it using "rename symbol"

**Expected behavior**
The operation is successful.

**Screenshots**

The CSS file is opened/changed but in the wrong location.

https://user-images.githubusercontent.com/9216

[2022-11-30 19:28] durandj commented on #172
@mrmckeb that would certainly help from my perspective!